In [2]:
from _jupyterEnv import *

In [3]:
reload_all()

In [139]:
reload_all()
df = datamodels.LocationCode().target01('인천')
df

2023-05-30 16:05:43,186 | INFO | [77448/MainProcess][38908/MainThread] | govdatascience.openapi.apikey

{'DataLen': 3}

       법정동명   지역코드
0  인천광역시 중구  28110
1  인천광역시 동구  28140
2  인천광역시 서구  28260

In [44]:
reload_all()
# schmodels.RealState().__create__()
schmodels.RealState().view()

2023-05-28 15:57:21,308 | INFO | [77448/MainProcess][38908/MainThread] | govdatascience.openapi.apikey

   seq      column dtype role           desc     unit
0    _     해제사유발생일  date    _              _        _
1    _        거래금액   int    _         단위: 만원  10000.0
2    _        건축년도   int    _              _        _
3    _           년   int    _              _        _
4    _           월   int    _              _        _
5    _           일   int    _              _        _
6    _           층   int    _              _        _
7    _        거래유형   str    _              _        _
8    _        검색연월   str    _  OpenAPI함수 입력값        _
9    _         도로명   str    _              _        _
10   _  도로명건물본번호코드   str    _              _        _
11   _  도로명건물부번호코드   str    _              _        _
12   _    도로명시군구코드   str    _              _        _
13   _   도로명일련번호코드   str    _              _        _
14   _   도로명지상지하코드   str    _              _        _
15   _       도로명코드   str    _              _        _
16   _         법정동   str    _              _        _
17   _     법정동본번코드   str    _              _        _
18   _     법정동부번코드   str    _              _        _
19   _    법정동시군구코드   str    _              _        _
20   _    법정동읍면동코드   str    _              _        _
21   _     법정동지번코드   str    _              _        _
22   _         아파트   str    _              _        _
23   _        일련번호   str    _              _        _
24   _        전용면적   str    _              _        _
25   _      중개사소재지   str    _              _        _
26   _          지번   str    _              _        _
27   _        지역코드   str    _  OpenAPI함수 입력값        _
28   _        해제여부   str    _              _        _

In [23]:
reload_all()
datamodels.AptTradeRealContract().inspect()

2023-05-28 10:59:29,130 | INFO | [59704/MainProcess][41236/MainThread] | govdatascience.openapi.apikey

거래금액 3221 [650, 750, 900, 950, 1000, 1050, 1100, 1120, 1200, 1250]
거래유형 2 ['중개거래', '직거래']
건축년도 60 [None, 1962, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973]
년 2 [2022, 2023]
도로명 7575 [None, '10용사로', '1공단로9길', '63로', '가곡13길', '가곡15길', '가곡4길', '가곡5길', '가곡7길', '가곡8길']
도로명건물본번호코드 1225 [None, '1', '1.0', '10', '10.0', '100', '100.0', '1003', '101', '1012']
도로명건물부번호코드 114 [None, '0', '0.0', '1', '1.0', '10', '10.0', '102', '104', '11']
도로명시군구코드 117 [None, '11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350', '11380']
도로명일련번호코드 22 ['0', '1', '10', '11', '12', '13', '14', '15', '16', '17']
도로명지상지하코드 3 [None, '0', '0.0']
도로명코드 8073 [None, '2000002', '2000003', '2000006', '2000006.0', '2000008', '2000010', '2000011', '2000015', '2000016']
법정동 1582 ['가곡동', '가남읍 신해리', '가남읍 심석리', '가남읍 태평리', '가능동', '가락동', '가리봉동', '가사동', '가수동', '가야동']
법정동본번코드 2393 [None, '0', '0.0', '0000', '0001', '0002', '0004', '0011', '0012', '0021']
법정동부번코드 264 [None, '0', '0.0', '1', '1.0', '10', '10.0', '100', '101', '102']
법정동시군구코드 112 ['11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350', '11380', '11410']
법정동읍면동코드 239 ['10100', '10200', '10300', '10400', '10500', '10600', '10700', '10800', '10900', '11000']
법정동지번코드 10 [None, '1', '1.0', '2', '3', '5', '6', '7', '8', '9']
아파트 12424 ['(1101-1)', '(160-16)', '(18-1)', '(207-3)', '(370-2)', '(517-2)', '(543-18)', '(61-21)', '(685-103)', '(710-8)']
월 9 [1, 2, 3, 4, 5, 9, 10, 11, 12]
일 31 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
일련번호 14850 ['11110-102', '11110-107', '11110-116', '11110-117', '11110-123', '11110-124', '11110-127', '11110-16', '11110-210', '11110-2155']
전용면적 14493 ['100.0', '100.0129', '100.016', '100.02', '100.06', '100.0633', '100.1002', '100.1037', '100.11', '100.1241']
조회연월 9 ['202209', '202210', '202211', '202212', '202301', '202302', '202303', '202304', '202305']
중개사소재지 1206 [None, '강원 강릉시', '강원 강릉시, 강원 동해시', '강원 강릉시, 강원 속초시', '강원 강릉시, 강원 원주시', '강원 강릉시, 서울 양천구', '강원 고성군, 강원 속초시', '강원 동해시', '강원 동해시, 강원 삼척시', '강원 동해시, 인천 서구']
지번 7909 [None, '1', '1-1', '1-10', '1-106', '1-114', '1-12', '1-13', '1-17', '1-187']
지역코드 112 ['11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350', '11380', '11410']
층 68 [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
해제사유발생일 221 [nan, '22.09.13', '22.09.15', '22.09.19', '22.09.26', '22.10.04', '22.10.05', '22.10.06', '22.10.07', '22.10.08']
해제여부 2 [None, 'O']

In [154]:
reload_all()
df = datamodels.AptTradeRealContract().view()
df

2023-05-30 17:31:55,338 | INFO | [77448/MainProcess][38908/MainThread] | govdatascience.openapi.apikey

{'필터': {'일련번호': '11560-75'}}
[ '도로명건물본번호코드',
  '도로명건물부번호코드',
  '도로명시군구코드',
  '도로명일련번호코드',
  '도로명지상지하코드',
  '도로명코드',
  '법정동본번코드',
  '법정동부번코드',
  '법정동시군구코드',
  '법정동읍면동코드',
  '법정동지번코드',
  '지역코드',
  '해제사유발생일',
  '해제여부']
{'DataLen': 6}
{'FrameLen': 6}
      거래금액  거래유형  건축년도  년  도로명  법정동  월  일  일련번호  전용면적  중개사소재지  지번  층  계약연월
아파트
현대2차     6     6     6  6    6    6  6  6     6     6       6   6  6     6  \

      지역1  지역2  계약일자
아파트
현대2차    6    6     6

,거래금액,거래유형,건축년도,년,도로명,법정동,아파트,월,일,일련번호,전용면적,중개사소재지,지번,층,계약연월,지역1,지역2,계약일자
0,54000,중개거래,1987,2023,문래로4길,문래동6가,현대2차,4,22,11560-75,41.04,서울 영등포구,45,7,202304,서울특별시,영등포구,2023-04-22 00:00:00+09:00
1,53300,중개거래,1987,2023,문래로4길,문래동6가,현대2차,4,15,11560-75,41.04,서울 영등포구,45,8,202304,서울특별시,영등포구,2023-04-15 00:00:00+09:00
2,54500,중개거래,1987,2023,문래로4길,문래동6가,현대2차,4,8,11560-75,41.04,서울 영등포구,45,14,202304,서울특별시,영등포구,2023-04-08 00:00:00+09:00
3,79000,중개거래,1987,2023,문래로4길,문래동6가,현대2차,4,5,11560-75,79.72,서울 영등포구,45,7,202304,서울특별시,영등포구,2023-04-05 00:00:00+09:00
4,53900,중개거래,1987,2023,문래로4길,문래동6가,현대2차,3,1,11560-75,41.04,서울 영등포구,45,14,202303,서울특별시,영등포구,2023-03-01 00:00:00+09:00
5,51000,중개거래,1987,2023,문래로4길,문래동6가,현대2차,2,11,11560-75,41.04,서울 영등포구,45,10,202302,서울특별시,영등포구,2023-02-11 00:00:00+09:00

In [125]:
# reload_all()
# df = datamodels.AptRent().view()
# df

In [124]:
reload_all()
# df = datamodels.LocationCode().view()
# df
datamodels.LocationCode().select({'법정동명': {'$regex': '강남구'}}, type='dict')

2023-05-30 15:15:46,206 | INFO | [77448/MainProcess][38908/MainThread] | govdatascience.openapi.apikey

{'_id': ObjectId('64702c703e7146d1ad14a292'),
 '법정동코드': '1168000000',
 '법정동명': '서울특별시 강남구',
 '폐지여부': '존재',
 '지역코드': '11680'}

In [120]:
reload_all()
# datamodels.CHECKLIST_RealEstate().build_ReqPool('서울')
# datamodels.CHECKLIST_RealEstate().target_tradeMonths('11110', 'getRTMSDataSvcAptTradeDev')
# datamodels.CHECKLIST_RealEstate().target_ReqPool('getRTMSDataSvcAptRent')

# datamodels.CHECKLIST_RealEstate().view()

2023-05-30 15:00:16,900 | INFO | [77448/MainProcess][38908/MainThread] | govdatascience.openapi.apikey

{'DataLen': 1000}

          법정동명   지역코드    계약연월               dataName
0    서울특별시 강남구  11680  202112  getRTMSDataSvcAptRent
1    서울특별시 강동구  11740  202112  getRTMSDataSvcAptRent
2    서울특별시 관악구  11620  202112  getRTMSDataSvcAptRent
3    서울특별시 구로구  11530  202112  getRTMSDataSvcAptRent
4    서울특별시 노원구  11350  202112  getRTMSDataSvcAptRent
..         ...    ...     ...                    ...
995  서울특별시 용산구  11170  201711  getRTMSDataSvcAptRent
996  서울특별시 은평구  11380  201711  getRTMSDataSvcAptRent
997  서울특별시 종로구  11110  201711  getRTMSDataSvcAptRent
998   서울특별시 중구  11140  201711  getRTMSDataSvcAptRent
999  서울특별시 중랑구  11260  201711  getRTMSDataSvcAptRent

[1000 rows x 4 columns]

In [73]:
# reload_all()
# datamodels.CHECKLIST_AptTradeRealContract().view()

In [79]:
# reload_all()
# datamodels.CHECKLIST_AptRent().view()

In [76]:
reload_all()
# datamodels.CHECKLIST_VillaTradeRealContract().__create__()
# datamodels.CHECKLIST_VillaTradeRealContract().view()

2023-05-30 10:09:00,556 | INFO | [77448/MainProcess][38908/MainThread] | govdatascience.openapi.apikey

In [77]:
reload_all()
# datamodels.CHECKLIST_VillaRent().view()

2023-05-30 10:09:04,110 | INFO | [77448/MainProcess][38908/MainThread] | govdatascience.openapi.apikey

In [17]:
print(list(df.columns))

['거래금액', '거래유형', '건축년도', '년', '도로명', '도로명건물본번호코드', '도로명건물부번호코드', '도로명시군구코드', '도로명일련번호코드', '도로명지상지하코드', '도로명코드', '법정동', '법정동본번코드', '법정동부번코드', '법정동시군구코드', '법정동읍면동코드', '법정동지번코드', '아파트', '월', '일', '일련번호', '전용면적', '중개사소재지', '지번', '지역코드', '층', '해제사유발생일', '해제여부', '검색연월']

In [122]:
reload_all()
df = datamodels.AptTradeRealContract().view()
df

2023-05-30 15:13:11,581 | INFO | [77448/MainProcess][38908/MainThread] | govdatascience.openapi.apikey

[ '도로명건물본번호코드',
  '도로명건물부번호코드',
  '도로명시군구코드',
  '도로명일련번호코드',
  '도로명지상지하코드',
  '도로명코드',
  '법정동본번코드',
  '법정동부번코드',
  '법정동시군구코드',
  '법정동읍면동코드',
  '법정동지번코드',
  '일련번호',
  '지역코드']
{'DataLen': 10}
{'FrameLen': 10}

,거래금액,거래유형,건축년도,년,도로명,법정동,아파트,월,일,전용면적,중개사소재지,지번,층,해제사유발생일,해제여부,계약연월
0,67500,중개거래,1991,2023,천호대로47길,답십리동,신답경남,5,26,82.5,서울 동대문구,645-8,3,NaN,None,202305
1,56700,직거래,2000,2023,경인로,신도림동,동아2,5,26,59.595,None,644,4,NaN,None,202305
2,13500,직거래,2014,2023,천호대로177길,길동,강동렘브란트,5,26,15.86,None,457-1,8,NaN,None,202305
3,44500,중개거래,1989,2023,섬밭로,중계동,상아,5,26,51.29,서울 노원구,505,7,NaN,None,202305
4,85500,중개거래,2017,2023,보문사길,보문동6가,보문파크뷰자이,5,26,72.96,서울 성북구,458,12,NaN,None,202305
5,20000,직거래,1982,2023,도림로3길,구로동,(747-35),5,26,50.52,None,747-35,5,NaN,None,202305
6,51000,중개거래,2008,2023,오륙도로,용호동,오륙도에스케이뷰,5,26,98.4097,부산 남구,944,11,NaN,None,202305
7,45000,중개거래,2018,2023,중앙대로,온천동,온천동유림노르웨이숲,5,26,67.3089,부산 동래구,460-6,7,NaN,None,202305
8,50000,직거래,1988,2023,동일로,상계동,상계주공7(고층),5,26,45.55,None,691,11,NaN,None,202305
9,67600,직거래,2003,2023,장안벚꽃로,장안동,장안현대홈타운(336),5,26,112.78,None,336,4,NaN,None,202305

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16983 entries, 0 to 16982
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   거래금액        16983 non-null  object
 1   거래유형        16983 non-null  object
 2   건축년도        16983 non-null  int64
 3   년           16983 non-null  int64
 4   도로명         16983 non-null  object
 5   도로명건물본번호코드  16983 non-null  int64
 6   도로명건물부번호코드  16983 non-null  int64
 7   도로명시군구코드    16983 non-null  int64
 8   도로명일련번호코드   16983 non-null  int64
 9   도로명지상지하코드   15984 non-null  float64
 10  도로명코드       16983 non-null  int64
 11  법정동         16983 non-null  object
 12  법정동본번코드     16983 non-null  int64
 13  법정동부번코드     16983 non-null  int64
 14  법정동시군구코드    16983 non-null  int64
 15  법정동읍면동코드    16983 non-null  int64
 16  법정동지번코드     16983 non-null  int64
 17  아파트         16983 non-null  object
 18  월           16983 non-null  int64
 19  일           16983 non-null  int64
 20  일련번호        16983 non-null  object
 21  전용면적        16983 non-null  float64
 22  중개사소재지      14985 non-null  object
 23  지번          16983 non-null  object
 24  지역코드        16983 non-null  int64
 25  층           16983 non-null  int64
 26  해제사유발생일     0 non-null      float64
 27  해제여부        0 non-null      float64
 28  검색연월        16983 non-null  object
dtypes: float64(4), int64(16), object(9)
memory usage: 3.8+ MB