In [1]:
from _jupyterEnv import *

2023-06-07 21:01:23,059 | INFO | [38892/MainProcess][37356/MainThread] | idebug.set_viewEnvType[159] | <ipylib.idebug.Debugger object at 0x00000292E7164280> | 1 (1: print | 2: logger | 3: jupyter)

C:\Python39
C:\Python39\DLLs
C:\Python39\lib
C:\Python39\python39.zip
C:\pypjts\GovDataScience\src
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\Pythonwin
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\win32
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\win32\lib
c:\pypjts\GovDataScience\jupyter
LogLevel: 10 (DEBUG) c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\ipylib\idebug.py

In [93]:
reload_all()
df = datamodels.LocationCode().view()
df

{'CodesLen': 277}
{'DataLen': 75}
{'FrameLen': 1}

        법정동코드      법정동명 폐지여부   지역코드
0  1114000000  서울특별시 중구   존재  11140

In [31]:
reload_all()
datamodels.CHECKLIST_RealEstate().inspect()

법정동명 122 ['강원도 강릉시', '강원도 동해시', '강원도 삼척시', '강원도 속초시', '강원도 원주시', '강원도 춘천시', '강원도 태백시', '경기도 고양시', '경기도 과천시', '경기도 광명시']
지역코드 122 ['11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350', '11380', '11410']
dataName 4 ['getRTMSDataSvcAptRent', 'getRTMSDataSvcAptTradeDev', 'getRTMSDataSvcRHRent', 'getRTMSDataSvcRHTrade']
totalCount 1268 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
계약연월 401 ['199001', '199002', '199003', '199004', '199005', '199006', '199007', '199008', '199009', '199010']
numOfRows 1 [1000]
pageNo 1 [1]
resultCode 1 ['00']
resultMsg 1 ['NORMAL SERVICE.']

In [68]:
reload_all()
df = datamodels.CHECKLIST_RealEstate().view()
df

{'DataLen': 808}
{'FrameLen': 808}

,법정동명,지역코드,dataName,numOfRows,pageNo,resultCode,resultMsg,totalCount,계약연월
0,서울특별시 강남구,11680,getRTMSDataSvcAptRent,1000,1,00,NORMAL SERVICE.,1013,202305
1,서울특별시 강동구,11740,getRTMSDataSvcAptRent,1000,1,00,NORMAL SERVICE.,777,202305
2,서울특별시 관악구,11620,getRTMSDataSvcAptRent,1000,1,00,NORMAL SERVICE.,295,202305
3,서울특별시 구로구,11530,getRTMSDataSvcAptRent,1000,1,00,NORMAL SERVICE.,369,202305
4,서울특별시 노원구,11350,getRTMSDataSvcAptRent,1000,1,00,NORMAL SERVICE.,863,202305
...,...,...,...,...,...,...,...,...,...
803,서울특별시 용산구,11170,getRTMSDataSvcAptRent,1000,1,00,NORMAL SERVICE.,269,201711
804,서울특별시 은평구,11380,getRTMSDataSvcAptRent,1000,1,00,NORMAL SERVICE.,319,201711
805,서울특별시 종로구,11110,getRTMSDataSvcAptRent,1000,1,00,NORMAL SERVICE.,108,201711
806,서울특별시 중구,11140,getRTMSDataSvcAptRent,1000,1,00,NORMAL SERVICE.,218,201711
807,서울특별시 중랑구,11260,getRTMSDataSvcAptRent,1000,1,00,NORMAL SERVICE.,234,201711

In [113]:
reload_all()
datamodels.CHECKLIST_RealEstate().target_ReqPool('getRTMSDataSvcAptTradeDev')

{'DataLen': 342}

,법정동명,지역코드,dataName,totalCount,계약연월,numOfRows,pageNo,resultCode,resultMsg
0,서울특별시 강남구,11680,getRTMSDataSvcAptTradeDev,68.0,202305,1000.0,1.0,00,NORMAL SERVICE.
1,서울특별시 강남구,11680,getRTMSDataSvcAptTradeDev,193.0,202304,1000.0,1.0,00,NORMAL SERVICE.
2,서울특별시 강남구,11680,getRTMSDataSvcAptTradeDev,186.0,202303,1000.0,1.0,00,NORMAL SERVICE.
3,서울특별시 강남구,11680,getRTMSDataSvcAptTradeDev,192.0,202302,1000.0,1.0,00,NORMAL SERVICE.
4,서울특별시 강남구,11680,getRTMSDataSvcAptTradeDev,106.0,202301,1000.0,1.0,00,NORMAL SERVICE.
...,...,...,...,...,...,...,...,...,...
337,서울특별시 강남구,11680,getRTMSDataSvcAptTradeDev,NaN,199005,NaN,NaN,NaN,NaN
338,서울특별시 강남구,11680,getRTMSDataSvcAptTradeDev,NaN,199004,NaN,NaN,NaN,NaN
339,서울특별시 강남구,11680,getRTMSDataSvcAptTradeDev,NaN,199003,NaN,NaN,NaN,NaN
340,서울특별시 강남구,11680,getRTMSDataSvcAptTradeDev,NaN,199002,NaN,NaN,NaN,NaN
341,서울특별시 강남구,11680,getRTMSDataSvcAptTradeDev,NaN,199001,NaN,NaN,NaN,NaN

In [3]:
reload_all()
# schmodels.RealState().__create__()
schmodels.RealState().view()

   seq      column dtype role           desc     unit
0    _     해제사유발생일  date    _              _        _
1    _        거래금액   int    _         단위: 만원  10000.0
2    _        건축년도   int    _              _        _
3    _           년   int    _              _        _
4    _           월   int    _              _        _
5    _           일   int    _              _        _
6    _           층   int    _              _        _
7    _        거래유형   str    _              _        _
8    _        검색연월   str    _  OpenAPI함수 입력값        _
9    _         도로명   str    _              _        _
10   _  도로명건물본번호코드   str    _              _        _
11   _  도로명건물부번호코드   str    _              _        _
12   _    도로명시군구코드   str    _              _        _
13   _   도로명일련번호코드   str    _              _        _
14   _   도로명지상지하코드   str    _              _        _
15   _       도로명코드   str    _              _        _
16   _         법정동   str    _              _        _
17   _     법정동본번코드   str    _              _        _
18   _     법정동부번코드   str    _              _        _
19   _    법정동시군구코드   str    _              _        _
20   _    법정동읍면동코드   str    _              _        _
21   _     법정동지번코드   str    _              _        _
22   _         아파트   str    _              _        _
23   _        일련번호   str    _              _        _
24   _        전용면적   str    _              _        _
25   _      중개사소재지   str    _              _        _
26   _          지번   str    _              _        _
27   _        지역코드   str    _  OpenAPI함수 입력값        _
28   _        해제여부   str    _              _        _

In [115]:
reload_all()
datamodels.AptTradeRealContract().inspect()

거래금액 3237 [650, 750, 900, 950, 1000, 1050, 1100, 1120, 1200, 1250]
거래유형 2 ['중개거래', '직거래']
건축년도 60 [None, 1962, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973]
검색연월 0 []
년 2 [2022, 2023]
도로명 7575 [None, '10용사로', '1공단로9길', '63로', '가곡13길', '가곡15길', '가곡4길', '가곡5길', '가곡7길', '가곡8길']
도로명건물본번호코드 1240 [None, 7, 12, 14, 16, 29, 38, 60, 76, 86]
도로명건물부번호코드 116 [None, 0, 1, '0', '0.0', '1', '1.0', '10', '10.0', '102']
도로명시군구코드 118 [None, 11620, '11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350']
도로명일련번호코드 24 [0, 1, '0', '1', '10', '11', '12', '13', '14', '15']
도로명지상지하코드 5 [None, nan, 0.0, '0', '0.0']
도로명코드 8088 [None, 2000003, 2005010, 3005083, 3120002, 3120008, 3120009, 4160018, 4160021, 4160023]
법정동 1582 ['가곡동', '가남읍 신해리', '가남읍 심석리', '가남읍 태평리', '가능동', '가락동', '가리봉동', '가사동', '가수동', '가야동']
법정동본번코드 2407 [None, 10, 15, 602, 863, 893, 1000, 1135, 1522, 1574]
법정동부번코드 275 [None, 0, 1, 5, 9, 12, 17, 31, 40, 51]
법정동시군구코드 113 [11620, '11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350', '11380']
법정동읍면동코드 242 [10100, 10200, 10300, '10100', '10200', '10300', '10400', '10500', '10600', '10700']
법정동지번코드 11 [None, 1, '1', '1.0', '2', '3', '5', '6', '7', '8']
아파트 12424 ['(1101-1)', '(160-16)', '(18-1)', '(207-3)', '(370-2)', '(517-2)', '(543-18)', '(61-21)', '(685-103)', '(710-8)']
월 9 [1, 2, 3, 4, 5, 9, 10, 11, 12]
일 31 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
일련번호 14850 ['11110-102', '11110-107', '11110-116', '11110-117', '11110-123', '11110-124', '11110-127', '11110-16', '11110-210', '11110-2155']
전용면적 14508 [12.25, 14.25, 14.49, 14.96, 40.49, 62.38, 67.73, 84.3415, 84.53, 84.87]
중개사소재지 1207 [None, nan, '강원 강릉시', '강원 강릉시, 강원 동해시', '강원 강릉시, 강원 속초시', '강원 강릉시, 강원 원주시', '강원 강릉시, 서울 양천구', '강원 고성군, 강원 속초시', '강원 동해시', '강원 동해시, 강원 삼척시']
지번 7909 [None, '1', '1-1', '1-10', '1-106', '1-114', '1-12', '1-13', '1-17', '1-187']
지역코드 113 [11620, '11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350', '11380']
층 68 [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
해제사유발생일 221 [nan, '22.09.13', '22.09.15', '22.09.19', '22.09.26', '22.10.04', '22.10.05', '22.10.06', '22.10.07', '22.10.08']
해제여부 3 [None, nan, 'O']
계약연월 331 ['199511', '199512', '199601', '199602', '199603', '199604', '199605', '199606', '199607', '199608']
계약일자 267 [datetime.datetime(2022, 8, 31, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 1, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 2, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 3, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 4, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 5, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 6, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 7, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 8, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 9, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>)]
지역1 15 ['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시']
지역2 97 [None, '강남구', '강동구', '강릉시', '강서구', '거제시', '경산시', '경주시', '계룡시', '공주시']

In [116]:
reload_all()
datamodels.AptTradeRealContract().view()

{'필터': {'지역1': '서울특별시', '지역2': {'$regex': '강남구'}}}
{'DataLen': 856}
{'DataLen': 856}
{'FrameLen': 856}
거래금액 383 [170000, 126685, 300000, 185000, 199000, 44000, 310000, 41000, 180000, 485000, 138000, 165000, 352000, 34000, 24500, 294000, 88000, 595000, 113000, 122000, 270000, 430000, 210000, 110000, 129000, 22500, 100000, 240000, 37500, 30500, 235000, 154000, 28000, 254000, 39800, 191500, 184000, 99500, 177000, 144000, 160000, 139000, 385000, 189000, 80000, 105000, 134000, 102500, 176000, 408000, 220000, 85000, 245000, 348000, 84700, 291000, 215000, 226000, 260000, 560000, 250000, 345000, 268000, 175000, 98000, 241000, 189500, 187000, 131000, 95000, 227000, 208000, 190000, 96500, 183000, 74000, 400000, 32000, 120000, 182500, 104000, 231000, 450000, 90000, 182000, 290000, 70000, 184500, 81700, 186000, 200000, 83000, 148000, 169000, 265000, 158000, 218500, 94000, 24000, 315000, 186500, 193000, 106000, 167500, 33000, 286000, 119000, 92500, 23000, 167400, 280000, 390000, 230000, 171000, 166000, 14000, 320000, 133000, 123500, 179500, 85500, 85800, 97000, 370000, 330000, 84500, 162000, 147000, 167000, 150000, 298000, 55000, 285000, 18900, 380000, 115000, 89800, 174000, 86000, 212000, 317500, 34500, 205000, 256000, 194500, 101000, 222000, 136000, 159000, 103000, 195000, 30000, 325000, 111000, 499000, 213000, 100250, 242000, 216000, 81000, 209000, 284000, 207000, 188000, 162500, 152000, 181000, 279000, 89900, 135000, 227500, 159500, 253000, 117000, 89990, 25900, 165500, 89700, 172000, 247000, 38000, 161000, 132500, 173000, 178000, 287000, 281000, 115500, 252000, 168000, 282000, 580000, 96000, 94500, 255000, 125000, 36400, 224500, 201000, 164000, 140000, 338000, 355000, 335000, 21000, 209500, 155500, 170500, 128000, 202000, 179000, 237000, 203000, 187500, 83500, 91000, 164500, 32500, 138500, 145000, 33500, 350000, 223000, 304000, 226800, 60000, 97500, 262500, 169700, 21700, 292000, 48500, 322000, 102000, 249000, 228000, 239000, 415000, 175500, 86500, 130000, 36000, 246000, 620000, 39500, 378000, 123000, 224000, 108000, 19800, 28600, 89000, 93000, 196500, 23800, 228500, 383000, 318000, 204000, 157000, 114000, 465000, 374000, 35500, 116000, 275000, 600000, 382000, 128500, 608000, 161500, 262000, 340000, 821000, 225500, 405000, 343000, 99800, 192000, 470000, 142000, 117500, 74500, 349000, 239500, 459000, 238000, 168300, 122500, 178500, 71800, 172500, 21500, 244000, 232000, 198000, 276000, 32970, 295000, 124500, 26300, 259000, 356000, 264000, 225000, 293000, 410000, 196000, 377000, 127000, 219000, 367000, 269000, 240500, 38500, 500000, 237600, 192600, 210300, 305000, 155000, 71000, 82000, 91500, 267000, 358000, 149500, 440000, 74750, 357000, 480000, 306000, 197000, 233000, 37800, 30300, 418000, 22000, 540000, 258000, 263000, 143500, 189700, 104800, 31000, 360000, 278000, 153000, 249500, 680000, 374500, 780000, 213300, 323000, 277000, 120500, 149000, 35000, 221000, 319000, 211000, 191250, 17000, 243000, 269500, 248000, 126000, 141000, 129500, 174500, 650000, 103500, 545000, 50000, 210500, 242500, 520000, 570000, 490000, 52000, 376000, 384000, 468000]
거래유형 2 ['중개거래', '직거래']
건축년도 46 [1993, 2015, 2022, 2019, 1979, 2004, 2001, 2014, 1994, 2008, 2002, 1999, 1992, 2003, 1984, 2007, 2013, 1990, 2000, 2009, 1983, 1996, 2020, 1974, 2018, 2010, 1987, 1997, 1978, 2005, 2011, 1995, 1985, 2021, 1977, 2006, 2012, 1982, 2016, 1998, 1976, 1986, 1980, 2017, 1988, 1981]
년 2 [2022, 2023]
도로명 111 ['일원로', '자곡로3길', '테헤란로44길', '선릉로', '삼성로', '테헤란로', '언주로130길', '언주로86길', '자곡로', '삼성로51길', '일원로14길', '학동로68길', '언주로', '테헤란로64길', '도산대로101길', '개포로109길', '언주로30길', '광평로47길', '영동대로', '논현로158길', '테헤란로63길', '강남대로', '봉은사로29길', '양재대로55길', '남부순환로395길', '도곡로78길', '도곡로6길', '남부순환로379길', '광평로10길', '언주로136길', '도산대로50길', '논현로64길', '도산대로99길', '개포로', '압구정로', '남부순환로', '압구정로2길', '압구정로14길', '광평로19길', '남부순환로373길', '테헤란로48길', '삼성로133길', '도산대로', '언주로103길', '삼성로111길', '삼성로4길', '개포로110길', '학동로73길', '도산대로85길', '논현로151길', '논현로', '선릉로100길', '역삼로', '역삼로25길', '영동대로138길', '광평로51길', '선릉로69길', '광평로31길', '강남대로162길', '도곡로43길', '광평로34길', '학동로', '삼성로64길', '헌릉로571길', '도곡로11길', '남부순환로365길', '언주로146길', '도곡로28길', '도산대로96길', '학동로9길', '압구정로29길', '테헤란로10길', '선릉로90길', '논현로124길', '선릉로126길', '압구정로79길', '압구정로22길', '강남대로146길', '봉은사로113길', '영동대로114길', '압구정로71길', '남부순환로381길', '봉은사로', '언주로90길', '삼성로85길', '선릉로107길', '압구정로42길', '학동로88길', '헌릉로590길', '영동대로57길', '강남대로84길', '언주로70길', '도곡로', '도산대로83길', '영동대로142길', '학동로38길', '선릉로112길', '압구정로62길', '도곡로93길', '밤고개로21길', '남부순환로363길', '학동로77길', '학동로82길', '밤고개로26길', '학동로81길', '도산대로92길', '학동로97길', '압구정로61길', '학동로43길', '강남대로44길', '도곡로57길']
법정동 14 ['일원동', '자곡동', '역삼동', '개포동', '대치동', '논현동', '삼성동', '청담동', '도곡동', '수서동', '신사동', '압구정동', '세곡동', '율현동']
아파트 193 ['가람', '엘에이치강남힐스테이트', '강남센트럴아이파크', '래미안블레스티지', '은마', '테헤란로대우아이빌(891-6)', '동양파라곤', '한화진넥스빌', '래미안강남힐즈', '래미안대치팰리스', '푸른마을아파트101동~111동', '삼성동힐스테이트 1단지', '대우디오빌', '선릉역대우아이빌(890-49)', '청담현대3차아파트', '성원대치2단지아파트', '타워팰리스2', '신동아', '삼익대청아파트', '대치우성아파트1동,2동,3동,5동,6동,7동', '토미', '채널리저브', '아크로힐스논현', 'LG선릉에클라트(B)', '한양수자인어반게이트', '수서', '선경3차', '대치삼성', '대명비발디', '삼성', '상록수', '로체샤르캐슬', '선경1차(1동-7동)', '쌍용', '리츠빌아파트', '청담CJ빌리지', '개포래미안포레스트', '신현대11차', '디에이치아너힐즈', '삼성래미안', '타워팰리스1', '한양5', '강남한양수자인(4단지)', '강남상가', '유로미아파트A동', '목련타운', '대림아크로빌', '삼성동센트럴아이파크', '개포주공6단지', '도곡지웰카운티101동', '역삼우정에쉐르2', '미성2차', '청담동삼성1차(101동)', '현대6차(78~81,83,84,86,87동)', '휴먼스타빌', '역삼엔스위트1', '현대힐스테이트2단지', '포스코더샵', '경남1', '개포주공5단지', '개포주공7단지', '래미안 개포 루체하임', '청담4차이-편한세상', '목화', '한보미도맨션2', '디에이치자이개포', '한양1차(영동한양)', '대성아파트', '현대휴먼터치빌', '도곡렉슬', '샘터마을', '까치마을', 'LG선릉에클라트(A)', '진넥스빌2', '럭키(963)', '개나리래미안', '개포우성1', '요진와이시티미니', '우성4', '대치아이파크', '청담자이', '삼익', '역삼래미안', '신사동씨티빌', '개포주공4단지', '래미안그레이튼(진달래2차)', '강남데시앙포레', '강남 더샵 포레스트', '삼성청담아파트', '대치현대', '강남엘에이치1단지', '역삼디오슈페리움', '역삼르비앙1', '경남2차', '중명하니빌', '현대7차(73~77,82,85동)', '동현아파트1~6', '도곡1차아이파크', '디에이치포레센트', '삼성청담공원아파트', '현대4', '지고하임(101동)', 'e-편한세상', '개포우성2', 'SK허브프리모', '동부센트레빌', '쌍용대치2', '역삼푸르지오', '래미안그레이튼', '한보미도맨션1', '현대1차(12,13,21,22,31,32,33동)', '신현대9차', '강남역우정에쉐르', '대림역삼', '한솔마을', '현대2', '타워팰리스3', '래미안펜타빌', '대우아이빌명문가(891-23)', '현대한강빌라', '상지리츠빌(1호라인)', '두영', '롯데캐슬프레미어', '우성7', '현대비젼21', '신현대12차', '개포한신', '현대8차(성수현대:91~95동)', '빌폴라리스', '현대아인빌', '신동아(22)', '우성캐릭터199', '신동아듀크빌', '대치SKVIEW', '래미안삼성1차(103-22)', '청담대우로얄카운티6차', '현대까르띠에710', '포스코트', '청담신원아침도시마인', '강남자곡아이파크', '세곡푸르지오', '쌍용플래티넘', '우림루미아트1', '개나리SK뷰', '대우아이빌멤버스(891-26)', '성영forU', '압구정하이츠파크', '개나리푸르지오', '상지리츠빌카일룸2차', '현대13차(208~211동)', '현대아파트3', '진흥아파트', '강남데시앙파크', '현대1', "역삼I'PARK", '현대14차(203,204,205,206동)', '쌍용대치아파트1동,2동,3동,5동,6동', '에스케이허브젠', '대우디오빌플러스', '은하수', '래미안도곡카운티', '한신엠비씨', '청담8차상지리츠빌', '청담아이파크', '삼성월드타워', '선경2차(8동-12동)', '논현동월드메르디앙', '삼성동롯데캐슬킹덤', '청담대우멤버스카운티8차', '이니그마빌', '(977-)', '래미안포레', '레미안삼성1차(101동)', '삼성동롯데아파트', '도곡쌍용예가', '청담대림이-편한세상', '아델하우스', '우성8', '강남한신휴플러스6단지', '강남신동아파밀리에1단지', '청담어퍼하우스', '청담디에브스아파트', '래미안청담로이뷰', '럭키(462)', '한양7', '매봉삼성', '수서한아름', '그라나다', '상지리츠빌카일룸', '현대2차(10,11,20,23,24,25동)', '제이빌', '도곡그린빌', '역삼2차아이파크']
월 8 [10, 11, 12, 1, 2, 3, 4, 5]
일 31 [4, 5, 6, 8, 9, 11, 12, 14, 17, 18, 20, 21, 25, 28, 29, 1, 2, 3, 7, 10, 15, 16, 22, 26, 30, 13, 19, 23, 24, 27, 31]
일련번호 198 ['11680-299', '11680-4375', '11680-5056', '11680-4800', '11680-218', '11680-529', '11680-473', '11680-249', '11680-4319', '11680-4394', '11680-308', '11680-3834', '11680-275', '11680-528', '11680-78', '11680-280', '11680-365', '11680-319', '11680-279', '11680-217', '11680-584', '11680-3709', '11680-4356', '11680-522', '11680-560', '11680-4202', '11680-305', '11680-212', '11680-205', '11680-708', '11680-330', '11680-303', '11680-3844', '11680-211', '11680-136', '11680-408', '11680-587', '11680-4929', '11680-425', '11680-4850', '11680-331', '11680-364', '11680-382', '11680-4298', '11680-1', '11680-541', '11680-301', '11680-323', '11680-4718', '11680-290', '11680-3879', '11680-493', '11680-20', '11680-32', '11680-420', '11680-3574', '11680-593', '11680-3830', '11680-532', '11680-277', '11680-391', '11680-578', '11680-4780', '11680-3946', '11680-30', '11680-481', '11680-4988', '11680-378', '11680-16', '11680-259', '11680-3623', '11680-304', '11680-314', '11680-434', '11680-666', '11680-327', '11680-3680', '11680-372', '11680-4069', '11680-337', '11680-3752', '11680-4004', '11680-317', '11680-3621', '11680-316', '11680-15', '11680-289', '11680-3905', '11680-4324', '11680-4510', '11680-33', '11680-206', '11680-4199', '11680-3683', '11680-410', '11680-278', '11680-344', '11680-421', '11680-121', '11680-3734', '11680-4949', '11680-34', '11680-311', '11680-432', '11680-3622', '11680-216', '11680-3647', '11680-237', '11680-214', '11680-3643', '11680-3871', '11680-222', '11680-415', '11680-423', '11680-503', '11680-236', '11680-309', '11680-293', '11680-470', '11680-3766', '11680-530', '11680-332', '11680-89', '11680-499', '11680-557', '11680-3733', '11680-306', '11680-354', '11680-426', '11680-310', '11680-422', '11680-3863', '11680-547', '11680-109', '11680-340', '11680-182', '11680-4637', '11680-3651', '11680-3616', '11680-252', '11680-348', '11680-4284', '11680-4332', '11680-4090', '11680-403', '11680-665', '11680-4084', '11680-531', '11680-492', '11680-549', '11680-3678', '11680-3685', '11680-427', '11680-294', '11680-187', '11680-601', '11680-4003', '11680-225', '11680-3679', '11680-428', '11680-373', '11680-3615', '11680-668', '11680-246', '11680-4173', '11680-350', '11680-678', '11680-4292', '11680-598', '11680-3559', '11680-3730', '11680-3641', '11680-569', '11680-60', '11680-5005', '11680-4297', '11680-3632', '11680-168', '11680-3962', '11680-98', '11680-3819', '11680-285', '11680-4398', '11680-3965', '11680-4862', '11680-4643', '11680-3667', '11680-4291', '11680-326', '11680-384', '11680-328', '11680-318', '11680-511', '11680-4774', '11680-416', '11680-556', '11680-712', '11680-3760']
전용면적 322 ['75.16', '84.39', '84.915', '59.967', '76.79', '35.51', '144.74', '41.68', '101.94', '114.15', '59.76', '84.93', '114.463', '30.03', '28.34', '109.53', '33.18', '223.59', '60.0', '115.59', '164.99', '84.43', '78.54', '84.94', '25.42', '39.53', '113.231', '36.35', '31.81', '20.23', '49.68', '76.6', '97.35', '33.11', '101.95', '82.67', '73.41', '74.54', '106.59', '136.68', '91.96', '84.87', '125.462', '93.22', '159.94', '94.49', '91.93', '84.83', '183.41', '84.3558', '84.86', '59.96', '137.24', '100.5', '114.32', '92.36', '111.62', '84.943', '134.71', '177.255', '39.51', '172.467', '51.12', '83.21', '77.61', '107.11', '49.38', '140.9', '39.13', '76.1709', '59.4', '49.86', '157.36', '35.905', '84.99', '90.15', '144.2', '84.236', '139.54', '99.79', '166.48', '49.909', '74.25', '83.7', '71.65', '136.41', '133.97', '126.33', '39.98', '59.92', '63.83', '63.87', '68.24', '25.92', '59.9772', '114.9931', '84.9984', '59.7479', '134.438', '49.5', '36.16', '119.8906', '121.71', '41.64', '23.85', '59.897', '84.97', '144.55', '84.81', '121.32', '172.464', '12.94', '152.74', '149.78', '82.365', '59.99', '84.48', '60.938', '41.99', '115.05', '59.91', '114.45', '12.1', '165.4312', '114.83', '29.02', '84.91', '85.0', '84.84', '84.92', '152.58', '76.48', '91.91', '22.78', '114.65', '49.96', '61.19', '119.67', '130.259', '121.95', '107.22', '60.13', '84.98', '34.44', '84.73', '84.16', '25.89', '80.4', '59.606', '84.69', '67.57', '84.89', '120.76', '113.087', '59.8848', '101.81', '89.115', '84.9097', '74.4', '99.991', '59.97', '71.68', '128.01', '131.48', '111.38', '16.78', '59.66', '131.83', '84.76', '101.97', '141.648', '158.58', '39.6', '49.92', '35.72', '104.01', '136.26', '153.65', '102.35', '82.6', '59.145', '52.29', '84.991', '16.2', '84.95', '121.931', '84.06', '32.65', '59.88', '162.6', '59.888', '84.96', '182.95', '107.16', '107.6', '163.67', '24.74', '166.01', '121.72', '103.77', '114.34', '32.02', '164.97', '84.58', '196.7', '243.81', '93.4', '166.63', '171.944', '200.9', '27.0875', '59.89', '152.25', '59.53', '24.0', '127.27', '70.98', '127.78', '35.796', '114.01', '122.81', '213.05', '158.54', '124.5792', '59.9885', '244.32', '54.81', '130.545', '108.47', '163.85', '207.82', '108.88', '40.763', '69.69', '132.94', '104.31', '36.47', '161.47', '84.27', '164.53', '28.246', '144.7', '59.9818', '128.03', '34.41', '66.24', '35.73', '63.76', '33.06', '59.98', '84.74', '84.15', '35.88', '83.56', '120.8233', '159.44', '203.47', '110.14', '84.202', '127.75', '84.9943', '138.657', '213.435', '83.17', '163.92', '170.8', '141.04', '39.2', '244.77', '184.02', '161.36', '77.97', '101.18', '84.357', '144.641', '151.31', '107.53', '59.73', '84.675', '81.84', '211.6', '84.49', '79.61', '145.83', '80.87', '170.38', '74.66', '31.393', '197.73', '134.9023', '78.7', '84.3382', '43.99', '224.3836', '119.58', '110.2', '79.89', '106.22', '196.21', '59.95', '84.9231', '82.3', '83.49', '59.93', '84.679', '101.51', '96.98', '73.26', '129.45', '53.46', '146.7139', '47.88', '74.97', '210.5', '160.51', '36.53', '105.31', '164.95', '48.48', '31.402', '66.83', '84.891']
중개사소재지 28 ['서울 강남구', '서울 강남구, 서울 송파구', None, '서울 강남구, 인천 서구', '서울 강남구, 서울 서초구', '서울 강남구, 서울 종로구', '경기 과천시, 서울 강남구', '경기 성남분당구', '서울 강남구, 서울 마포구', '서울 강남구, 서울 광진구', '경기 하남시, 서울 송파구', '서울 송파구', '경기 안양동안구, 서울 강남구', '서울 강남구, 충남 천안서북구', '서울 강남구, 서울 금천구', '서울 강남구, 서울 성동구', '경기 성남수정구, 서울 송파구', '서울 서초구', '서울 강남구, 서울 성북구', '경기 성남분당구, 서울 강남구', '대구 중구, 서울 강남구', '서울 강남구, 서울 강동구', '경기 시흥시, 서울 강남구', '서울 강남구, 서울 용산구', '경기 화성시, 서울 강남구', '서울 강남구, 서울 동작구', '서울 강남구, 서울 동대문구', '경기 수원영통구, 서울 강남구']
지번 188 ['735', '619', '902', '1280', '316', '891-6', '245', '706-20', '611', '1027', '719', '16-2', '720-25', '890-49', '127-31', '12', '467-17', '736', '63', '593-32', '144-14', '276-1', '142-3', '952', '221-7', '711', '602', '1014-3', '944-6', '161', '734', '114-23', '506', '103', '787-4', '111-11', '1282', '433', '138', '91-5', '467', '513', '686', '510-11', '547-7', '716', '467-6', '188', '185', '199-4', '707-18', '397', '33', '456', '5-25', '656-30', '50', '649', '187', '741', '28-20', '105-6', '511', '743', '490', '540-2', '606-18', '527', '718', '746', '142-7', '706-24', '963', '754', '503', '727-9', '465', '888', '134-38', '708', '757', '747', '523-4', '189', '762-3', '795', '799', '42', '974', '579', '832-5', '835-12', '965', '105', '543-7', '742', '60', '614', '44-8', '755-4', '500', '953-1', '65', '754-1', '763-16', '369-1', '426', '823-7', '761-10', '731', '654', '467-29', '713-7', '891-23', '869', '106', '761-9', '216-1', '11', '615', '467-19', '434', '615-1', '481', '129-7', '569-1', '22', '467-24', '99-11', '1029', '103-22', '101-1', '710', '164-6', '122-35', '533', '117', '706-11', '716-3', '891-26', '681-46', '632', '755-1', '128-18', '448', '177', '53-2', '670', '525', '992', '713-11', '447', '66', '831-45', '824-25', '759-1', '538-3', '895-8', '121-14', '130', '3-1', '212-13', '43', '110', '94', '977', '687', '104-10', '17', '933', '30-33', '64-5', '179', '365', '508', '64-1', '62-6', '69-18', '134', '462', '528', '966', '712', '45-5', '202', '108-2', '955', '765-32']
층 38 [3, 9, 8, 7, 2, 10, 14, 22, 11, 1, 13, 5, 38, 12, 40, 15, 4, 18, 20, 33, 19, 28, 6, 31, 24, 17, 16, 27, 30, 23, 32, 53, 21, 29, 34, 39, 26, 43]
계약연월 8 ['202210', '202211', '202212', '202301', '202302', '202303', '202304', '202305']
지역1 1 ['서울특별시']
지역2 1 ['강남구']

,거래금액,거래유형,건축년도,년,도로명,법정동,아파트,월,일,일련번호,전용면적,중개사소재지,지번,층,계약연월,지역1,지역2,계약일자,AptId
0,170000,중개거래,1993,2022,일원로,일원동,가람,10,4,11680-299,75.16,서울 강남구,735,3,202210,서울특별시,강남구,2022-10-04 00:00:00+09:00,11680-299_75.16
1,126685,중개거래,2015,2022,자곡로3길,자곡동,엘에이치강남힐스테이트,10,5,11680-4375,84.39,서울 강남구,619,9,202210,서울특별시,강남구,2022-10-05 00:00:00+09:00,11680-4375_84.39
2,300000,중개거래,2022,2022,테헤란로44길,역삼동,강남센트럴아이파크,10,6,11680-5056,84.915,"서울 강남구, 서울 송파구",902,8,202210,서울특별시,강남구,2022-10-06 00:00:00+09:00,11680-5056_84.915
3,185000,중개거래,2019,2022,선릉로,개포동,래미안블레스티지,10,8,11680-4800,59.967,서울 강남구,1280,7,202210,서울특별시,강남구,2022-10-08 00:00:00+09:00,11680-4800_59.967
4,199000,중개거래,1979,2022,삼성로,대치동,은마,10,8,11680-218,76.79,서울 강남구,316,2,202210,서울특별시,강남구,2022-10-08 00:00:00+09:00,11680-218_76.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851,215000,중개거래,2008,2023,도곡로57길,역삼동,역삼2차아이파크,5,20,11680-3760,84.891,서울 강남구,765-32,21,202305,서울특별시,강남구,2023-05-20 00:00:00+09:00,11680-3760_84.891
852,220000,중개거래,1998,2023,언주로,도곡동,우성캐릭터199,5,22,11680-340,132.94,서울 강남구,467-24,14,202305,서울특별시,강남구,2023-05-22 00:00:00+09:00,11680-340_132.94
853,210000,직거래,2005,2023,선릉로69길,역삼동,e-편한세상,5,23,11680-3622,84.991,None,755-4,14,202305,서울특별시,강남구,2023-05-23 00:00:00+09:00,11680-3622_84.991
854,468000,중개거래,1978,2023,압구정로,압구정동,"현대6차(78~81,83,84,86,87동)",5,23,11680-420,144.7,서울 강남구,456,6,202305,서울특별시,강남구,2023-05-23 00:00:00+09:00,11680-420_144.7
855,36000,중개거래,2004,2023,테헤란로,대치동,테헤란로대우아이빌(891-6),5,25,11680-529,33.11,서울 강남구,891-6,5,202305,서울특별시,강남구,2023-05-25 00:00:00+09:00,11680-529_33.11

In [106]:
reload_all()
datamodels.AptRent().view()

2023-06-08 00:01:16,824 | INFO | [38892/MainProcess][37356/MainThread] | govdatascience.dataengine.datamodels._manipulate01

{'필터': {'지역1': {'$regex': '서울'}}}
{'DataLen': 135439}
{'DataLen': 135439}
{'FrameLen': 135439}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135439 entries, 0 to 135438
Data columns (total 33 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   거래금액        135439 non-null  int64
 1   거래유형        135439 non-null  object
 2   건축년도        135439 non-null  int64
 3   년           135439 non-null  int64
 4   도로명         135439 non-null  object
 5   도로명건물본번호코드  135439 non-null  object
 6   도로명건물부번호코드  135439 non-null  object
 7   도로명시군구코드    135439 non-null  object
 8   도로명일련번호코드   135439 non-null  object
 9   도로명지상지하코드   127466 non-null  object
 10  도로명코드       135439 non-null  object
 11  법정동         135439 non-null  object
 12  법정동본번코드     135439 non-null  object
 13  법정동부번코드     135439 non-null  object
 14  법정동시군구코드    135439 non-null  object
 15  법정동읍면동코드    135439 non-null  object
 16  법정동지번코드     135439 non-null  object
 17  아파트         135439 non-null  object
 18  월           135439 non-null  int64
 19  일           135439 non-null  int64
 20  일련번호        135439 non-null  object
 21  전용면적        135439 non-null  object
 22  중개사소재지      119499 non-null  object
 23  지번          135439 non-null  object
 24  지역코드        135439 non-null  object
 25  층           135439 non-null  int64
 26  해제사유발생일     0 non-null       float64
 27  해제여부        0 non-null       object
 28  AptId       135439 non-null  object
 29  계약일자        135439 non-null  datetime64[ns, 대한민국 표준시]
 30  지역1         135439 non-null  object
 31  지역2         135439 non-null  object
 32  계약연월        135439 non-null  object
dtypes: datetime64[ns, 대한민국 표준시](1), float64(1), int64(6), object(25)
memory usage: 34.1+ MB
['중구', '관악구']

,거래금액,거래유형,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,...,지번,지역코드,층,해제사유발생일,해제여부,AptId,계약일자,지역1,지역2,계약연월
0,43000,직거래,2018,2023,마른내로,126,1,11140,0,0.0,...,206-34,11140,14,NaN,None,11140-1321_41.38,2023-05-23 00:00:00+09:00,서울특별시,중구,202305
1,43000,직거래,2018,2023,마른내로,126,1,11140,0,0.0,...,206-34,11140,14,NaN,None,11140-1321_41.38,2023-05-23 00:00:00+09:00,서울특별시,중구,202305
2,43000,직거래,2018,2023,마른내로,126,1,11140,0,0.0,...,206-34,11140,14,NaN,None,11140-1321_41.38,2023-05-23 00:00:00+09:00,서울특별시,중구,202305
3,43000,직거래,2018,2023,마른내로,126,1,11140,0,0.0,...,206-34,11140,14,NaN,None,11140-1321_41.38,2023-05-23 00:00:00+09:00,서울특별시,중구,202305
4,43000,직거래,2018,2023,마른내로,126,1,11140,0,0.0,...,206-34,11140,14,NaN,None,11140-1321_41.38,2023-05-23 00:00:00+09:00,서울특별시,중구,202305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135434,35000,중개거래,2014,2022,청림6길,16,0,11620,1,0.0,...,15-5,11620,5,NaN,None,11620-5115_40.49,2022-09-03 00:00:00+09:00,서울특별시,관악구,202102
135435,12700,중개거래,2012,2022,남부순환로220길,29,0,11620,1,0.0,...,863-9,11620,9,NaN,None,11620-4792_14.25,2022-09-03 00:00:00+09:00,서울특별시,관악구,202203
135436,12700,중개거래,2012,2022,남부순환로220길,29,0,11620,1,0.0,...,863-9,11620,9,NaN,None,11620-4792_14.25,2022-09-03 00:00:00+09:00,서울특별시,관악구,202105
135437,35000,중개거래,2014,2022,청림6길,16,0,11620,1,0.0,...,15-5,11620,5,NaN,None,11620-5115_40.49,2022-09-03 00:00:00+09:00,서울특별시,관악구,202105
135438,12700,중개거래,2012,2022,남부순환로220길,29,0,11620,1,0.0,...,863-9,11620,9,NaN,None,11620-4792_14.25,2022-09-03 00:00:00+09:00,서울특별시,관악구,202109

In [ ]:
reload_all()
# ecos.build_StatisticTableList()
datamodels.BOKStatisticTableList().view()