In [2]:
from _jupyterEnv import *

In [3]:
reload_all()

In [9]:
reload_all()
datamodels.ApartmentRealTrade().view()

{'DataLen': 102}
{'FrameLen': 102}

,_id,거래금액,거래유형,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,...,월,일,일련번호,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부
0,647022db3e7146d1ad149e98,"180,000",중개거래,2004,2023,새문안로3길,23,0,11110,2,...,5,20,11110-117,124.1700,"서울 양천구, 서울 종로구",73,11110,13,NaN,NaN
1,647022db3e7146d1ad149e99,"38,000",중개거래,2003,2023,돈화문로11가길,59,0,11110,3,...,5,11,11110-102,46.6400,서울 종로구,55,11110,3,NaN,NaN
2,647022db3e7146d1ad149e9a,"17,000",중개거래,2017,2023,대학로,33,0,11110,0,...,5,13,11110-2440,16.6720,서울 종로구,65-2,11110,4,NaN,NaN
3,647022db3e7146d1ad149e9b,"39,800",중개거래,2002,2023,창신길,140,14,11110,1,...,5,2,11110-97,59.5500,"서울 성북구, 서울 종로구",601-5,11110,1,NaN,NaN
4,647022db3e7146d1ad149e9c,"13,400",중개거래,2013,2023,종로66길,28,0,11110,1,...,5,11,11110-2339,19.4660,서울 종로구,202-3,11110,13,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,647051d7c16133fb431a1acf,"29,000",중개거래,2017,2023,상모로273번길,44,0,50130,0,...,5,1,50130-896,84.5100,제주 서귀포시,4170,50130,1,NaN,NaN
98,647051d7c16133fb431a1ad0,"11,500",중개거래,2000,2023,비행장로55번길,16,0,50130,1,...,5,18,50130-35,58.9440,제주 서귀포시,4148-1,50130,5,NaN,NaN
99,647051d7c16133fb431a1ad1,"19,500",중개거래,2019,2023,신영로,5,0,50130,0,...,5,3,50130-1077,56.7500,제주 서귀포시,1221-1,50130,3,NaN,NaN
100,647051d7c16133fb431a1ad2,"9,000",직거래,2001,2023,서성일로,1186,6,50130,1,...,5,24,50130-46,49.4367,NaN,1618-1,50130,2,NaN,NaN
101,647051d7c16133fb431a1ad3,"28,300",중개거래,2017,2023,화순중앙로12번길,39,0,50130,0,...,5,19,50130-942,84.9455,제주 서귀포시,2133,50130,6,NaN,NaN

In [ ]:
df = pd.DataFrame(data)
df

In [4]:
reload_all()
# datamodels.LocationCode().__create__()
df = datamodels.LocationCode().view()
df

{'CodesLen': 277}
{'DataLen': 142}
{'FrameLen': 1}

                        _id       법정동코드     법정동명 폐지여부   지역코드
0  64702c703e7146d1ad14b769  4148000000  경기도 파주시   존재  41480

In [ ]:
df[-60:]

In [22]:
reload_all()
datamodels.AptRealTradesCollectChecklist().view()

{'DataLen': 34282}
{'FrameLen': 34282}

                            _id        법정동명   지역코드   개수    검색연월
0      6471949c3e7146d1ad1553fe   서울특별시 종로구  11110   16  202305
1      6471949c3e7146d1ad1553ff    서울특별시 중구  11140   17  202305
2      6471949c3e7146d1ad155400   서울특별시 용산구  11170   12  202305
3      6471949c3e7146d1ad155401  서울특별시 동대문구  11230   75  202305
4      6471949c3e7146d1ad155402   서울특별시 중랑구  11260   30  202305
...                         ...         ...    ...  ...     ...
34277  6471949d3e7146d1ad15d9e3    경상남도 사천시  48240  NaN  200001
34278  6471949d3e7146d1ad15d9e4    경상남도 김해시  48250  NaN  200001
34279  6471949d3e7146d1ad15d9e5    경상남도 밀양시  48270  NaN  200001
34280  6471949d3e7146d1ad15d9e6    경상남도 거제시  48310  NaN  200001
34281  6471949d3e7146d1ad15d9e7    경상남도 양산시  48330  NaN  200001

[34282 rows x 5 columns]

In [21]:
reload_all()
datamodels.AptRentsChecklist().view()

{'DataLen': 34282}
{'FrameLen': 34282}

,_id,법정동명,지역코드,검색연월,dataName,numOfRows,pageNo,resultCode,resultMsg,totalCount
0,6471cd3c165e3f26dec74684,서울특별시 종로구,11110,202305,getRTMSDataSvcAptRent,10,1,00,NORMAL SERVICE.,103
1,6471cd3c165e3f26dec74685,서울특별시 중구,11140,202305,getRTMSDataSvcAptRent,10,1,00,NORMAL SERVICE.,305
2,6471cd3c165e3f26dec74686,서울특별시 용산구,11170,202305,getRTMSDataSvcAptRent,10,1,00,NORMAL SERVICE.,245
3,6471cd3c165e3f26dec74687,서울특별시 동대문구,11230,202305,NaN,NaN,NaN,NaN,NaN,NaN
4,6471cd3c165e3f26dec74688,서울특별시 중랑구,11260,202305,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
34277,6471cd3d165e3f26dec7cc69,경상남도 사천시,48240,200001,NaN,NaN,NaN,NaN,NaN,NaN
34278,6471cd3d165e3f26dec7cc6a,경상남도 김해시,48250,200001,NaN,NaN,NaN,NaN,NaN,NaN
34279,6471cd3d165e3f26dec7cc6b,경상남도 밀양시,48270,200001,NaN,NaN,NaN,NaN,NaN,NaN
34280,6471cd3d165e3f26dec7cc6c,경상남도 거제시,48310,200001,NaN,NaN,NaN,NaN,NaN,NaN
34281,6471cd3d165e3f26dec7cc6d,경상남도 양산시,48330,200001,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
reload_all()
datamodels.ApartmentRent().view()

{'DataLen': 34}
{'FrameLen': 34}

,_id,거래금액,거래유형,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,...,일,일련번호,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부,검색연월
0,6471cda87d6887e9934d11c3,"270,000",중개거래,2010,2023,퇴계로,72,0,11140,3,...,15,11140-1099,205.6200,"서울 강남구, 서울 중구",206,11140,14,NaN,NaN,202305
1,6471cda87d6887e9934d11c4,"260,000",중개거래,2000,2023,동호로20가길,38,0,11140,1,...,20,11140-19,172.4000,서울 용산구,105-1,11140,10,NaN,NaN,202305
2,6471cda87d6887e9934d11c5,"200,000",중개거래,2000,2023,동호로20가길,38,0,11140,1,...,20,11140-19,157.9400,서울 용산구,105-1,11140,10,NaN,NaN,202305
3,6471cda87d6887e9934d11c6,"43,000",직거래,2018,2023,마른내로,126,1,11140,0,...,23,11140-1321,41.3800,NaN,206-34,11140,14,NaN,NaN,202305
4,6471cda87d6887e9934d11c7,"84,000",중개거래,1999,2023,청구로1길,23,0,11140,1,...,1,11140-32,59.9700,서울 중구,843,11140,8,NaN,NaN,202305
5,6471cda87d6887e9934d11c8,"116,000",직거래,2002,2023,다산로,32,0,11140,1,...,4,11140-28,84.8800,NaN,844,11140,1,NaN,NaN,202305
6,6471cda87d6887e9934d11c9,"95,000",중개거래,2002,2023,다산로,32,0,11140,1,...,5,11140-28,59.9400,서울 중구,844,11140,17,NaN,NaN,202305
7,6471cda87d6887e9934d11ca,"139,500",중개거래,2011,2023,청구로,64,0,11140,1,...,8,11140-1144,84.9600,서울 중구,852,11140,8,NaN,NaN,202305
8,6471cda87d6887e9934d11cb,"15,500",중개거래,2014,2023,난계로,151,0,11140,1,...,15,11140-1217,18.0800,서울 중구,160-5,11140,4,NaN,NaN,202305
9,6471cda87d6887e9934d11cc,"92,000",중개거래,2008,2023,청계천로,400,0,11140,12,...,9,11140-1039,84.8900,서울 중구,2545,11140,33,NaN,NaN,202305
10,6471cda87d6887e9934d11cd,"79,700",중개거래,2008,2023,청계천로,400,0,11140,12,...,13,11140-1039,59.9100,서울 성동구,2545,11140,32,NaN,NaN,202305
11,6471cda87d6887e9934d11ce,"64,500",중개거래,2008,2023,청계천로,400,0,11140,12,...,20,11140-1039,59.9400,서울 중구,2545,11140,30,NaN,NaN,202305
12,6471cda87d6887e9934d11cf,"37,500",중개거래,2020,2023,서소문로,89,20,11140,0,...,2,11140-1361,18.6574,서울 종로구,37,11140,6,NaN,NaN,202305
13,6471cda87d6887e9934d11d0,"38,200",직거래,2020,2023,서소문로,89,20,11140,0,...,16,11140-1361,22.4734,NaN,37,11140,5,NaN,NaN,202305
14,6471cda87d6887e9934d11d1,"149,500",중개거래,2016,2023,서소문로9길,28,0,11140,1,...,4,11140-1277,82.3212,서울 중구,217,11140,4,NaN,NaN,202305
15,6471cda87d6887e9934d11d2,"160,500",중개거래,2001,2023,중림로,10,0,11140,1,...,13,11140-51,114.7700,서울 중구,200,11140,17,NaN,NaN,202305
16,6471cda87d6887e9934d11d3,"153,000",중개거래,2017,2023,만리재로,175,0,11140,2,...,11,11140-1300,84.9720,서울 중구,176-1,11140,21,NaN,NaN,202305
17,6471ce657d6887e9934d11d5,"270,000",중개거래,2010,2023,퇴계로,72,0,11140,3,...,15,11140-1099,205.6200,"서울 강남구, 서울 중구",206,11140,14,NaN,NaN,202305
18,6471ce657d6887e9934d11d6,"260,000",중개거래,2000,2023,동호로20가길,38,0,11140,1,...,20,11140-19,172.4000,서울 용산구,105-1,11140,10,NaN,NaN,202305
19,6471ce657d6887e9934d11d7,"200,000",중개거래,2000,2023,동호로20가길,38,0,11140,1,...,20,11140-19,157.9400,서울 용산구,105-1,11140,10,NaN,NaN,202305
20,6471ce657d6887e9934d11d8,"43,000",직거래,2018,2023,마른내로,126,1,11140,0,...,23,11140-1321,41.3800,NaN,206-34,11140,14,NaN,NaN,202305
21,6471ce657d6887e9934d11d9,"84,000",중개거래,1999,2023,청구로1길,23,0,11140,1,...,1,11140-32,59.9700,서울 중구,843,11140,8,NaN,NaN,202305
22,6471ce657d6887e9934d11da,"116,000",직거래,2002,2023,다산로,32,0,11140,1,...,4,11140-28,84.8800,NaN,844,11140,1,NaN,NaN,202305
23,6471ce657d6887e9934d11db,"95,000",중개거래,2002,2023,다산로,32,0,11140,1,...,5,11140-28,59.9400,서울 중구,844,11140,17,NaN,NaN,202305
24,6471ce657d6887e9934d11dc,"139,500",중개거래,2011,2023,청구로,64,0,11140,1,...,8,11140-1144,84.9600,서울 중구,852,11140,8,NaN,NaN,202305
25,6471ce657d6887e9934d11dd,"15,500",중개거래,2014,2023,난계로,151,0,11140,1,...,15,11140-1217,18.0800,서울 중구,160-5,11140,4,NaN,NaN,202305
26,6471ce657d6887e9934d11de,"92,000",중개거래,2008,2023,청계천로,400,0,11140,12,...,9,11140-1039,84.8900,서울 중구,2545,11140,33,NaN,NaN,202305
27,6471ce657d6887e9934d11df,"79,700",중개거래,2008,2023,청계천로,400,0,11140,12,...,13,11140-1039,59.9100,서울 성동구,2545,11140,32,NaN,NaN,202305
28,6471ce657d6887e9934d11e0,"64,500",중개거래,2008,2023,청계천로,400,0,11140,12,...,20,11140-1039,59.9400,서울 중구,2545,11140,30,NaN,NaN,202305
29,6471ce657d6887e9934d11e1,"37,500",중개거래,2020,2023,서소문로,89,20,11140,0,...,2,11140-1361,18.6574,서울 종로구,37,11140,6,NaN,NaN,202305
30,6471ce657d6887e9934d11e2,"38,200",직거래,2020,2023,서소문로,89,20,11140,0,...,16,11140-1361,22.4734,NaN,37,11140,5,NaN,NaN,202305
31,6471ce657d6887e9934d11e3,"149,500",중개거래,2016,2023,서소문로9길,28,0,11140,1,...,4,11140-1277,82.3212,서울 중구,217,11140,4,NaN,NaN,202305
32,6471ce657d6887e9934d11e4,"160,500",중개거래,2001,2023,중림로,10,0,11140,1,...,13,11140-51,114.7700,서울 중구,200,11140,17,NaN,NaN,202305
33,6471ce657d6887e9934d11e5,"153,000",중개거래,2017,2023,만리재로,175,0,11140,2,...,11,11140-1300,84.9720,서울 중구,176-1,11140,21,NaN,NaN,202305