In [1]:
from _jupyterEnv import *

C:\Python39
C:\Python39\DLLs
C:\Python39\lib
C:\Python39\python39.zip
C:\pypjts\GovDataScience\src
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\Pythonwin
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\win32
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\win32\lib
c:\pypjts\GovDataScience\jupyter

2023-06-02 21:09:41,349 | INFO | [57476/MainProcess][110616/MainThread] | idebug.set_viewEnvType[159] | <ipylib.idebug.Debugger object at 0x000002877C635EE0> | 1 (1: print | 2: logger | 3: jupyter)
2023-06-02 21:09:41,355 | INFO | [57476/MainProcess][110616/MainThread] | govdatascience.openapi.apikey

LogLevel: 10 (DEBUG) c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\ipylib\idebug.py

In [6]:
reload_all()
df = datamodels.LocationCode().target01('서울')
df

2023-06-03 09:58:53,736 | INFO | [57476/MainProcess][110616/MainThread] | govdatascience.openapi.apikey

{'DataLen': 20}

          법정동명   지역코드
0    서울특별시 종로구  11110
1     서울특별시 중구  11140
2    서울특별시 용산구  11170
3   서울특별시 동대문구  11230
4    서울특별시 중랑구  11260
5    서울특별시 성북구  11290
6    서울특별시 도봉구  11320
7    서울특별시 노원구  11350
8    서울특별시 은평구  11380
9   서울특별시 서대문구  11410
10   서울특별시 마포구  11440
11   서울특별시 양천구  11470
12   서울특별시 구로구  11530
13  서울특별시 영등포구  11560
14   서울특별시 동작구  11590
15   서울특별시 관악구  11620
16   서울특별시 서초구  11650
17   서울특별시 강남구  11680
18   서울특별시 송파구  11710
19   서울특별시 강동구  11740

In [4]:
reload_all()
# schmodels.RealState().__create__()
schmodels.RealState().view()

2023-06-03 09:58:34,741 | INFO | [57476/MainProcess][110616/MainThread] | govdatascience.openapi.apikey

   seq      column dtype role           desc     unit
0    _     해제사유발생일  date    _              _        _
1    _        거래금액   int    _         단위: 만원  10000.0
2    _        건축년도   int    _              _        _
3    _           년   int    _              _        _
4    _           월   int    _              _        _
5    _           일   int    _              _        _
6    _           층   int    _              _        _
7    _        거래유형   str    _              _        _
8    _        검색연월   str    _  OpenAPI함수 입력값        _
9    _         도로명   str    _              _        _
10   _  도로명건물본번호코드   str    _              _        _
11   _  도로명건물부번호코드   str    _              _        _
12   _    도로명시군구코드   str    _              _        _
13   _   도로명일련번호코드   str    _              _        _
14   _   도로명지상지하코드   str    _              _        _
15   _       도로명코드   str    _              _        _
16   _         법정동   str    _              _        _
17   _     법정동본번코드   str    _              _        _
18   _     법정동부번코드   str    _              _        _
19   _    법정동시군구코드   str    _              _        _
20   _    법정동읍면동코드   str    _              _        _
21   _     법정동지번코드   str    _              _        _
22   _         아파트   str    _              _        _
23   _        일련번호   str    _              _        _
24   _        전용면적   str    _              _        _
25   _      중개사소재지   str    _              _        _
26   _          지번   str    _              _        _
27   _        지역코드   str    _  OpenAPI함수 입력값        _
28   _        해제여부   str    _              _        _

In [3]:
reload_all()
datamodels.AptTradeRealContract().inspect()

2023-06-02 21:11:30,717 | INFO | [57476/MainProcess][110616/MainThread] | govdatascience.openapi.apikey

거래금액 3237 [650, 750, 900, 950, 1000, 1050, 1100, 1120, 1200, 1250]
거래유형 2 ['중개거래', '직거래']
건축년도 60 [None, 1962, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973]
검색연월 0 []
년 2 [2022, 2023]
도로명 7575 [None, '10용사로', '1공단로9길', '63로', '가곡13길', '가곡15길', '가곡4길', '가곡5길', '가곡7길', '가곡8길']
도로명건물본번호코드 1240 [None, 7, 12, 14, 16, 29, 38, 60, 76, 86]
도로명건물부번호코드 116 [None, 0, 1, '0', '0.0', '1', '1.0', '10', '10.0', '102']
도로명시군구코드 118 [None, 11620, '11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350']
도로명일련번호코드 24 [0, 1, '0', '1', '10', '11', '12', '13', '14', '15']
도로명지상지하코드 5 [None, nan, 0.0, '0', '0.0']
도로명코드 8088 [None, 2000003, 2005010, 3005083, 3120002, 3120008, 3120009, 4160018, 4160021, 4160023]
법정동 1582 ['가곡동', '가남읍 신해리', '가남읍 심석리', '가남읍 태평리', '가능동', '가락동', '가리봉동', '가사동', '가수동', '가야동']
법정동본번코드 2407 [None, 10, 15, 602, 863, 893, 1000, 1135, 1522, 1574]
법정동부번코드 275 [None, 0, 1, 5, 9, 12, 17, 31, 40, 51]
법정동시군구코드 113 [11620, '11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350', '11380']
법정동읍면동코드 242 [10100, 10200, 10300, '10100', '10200', '10300', '10400', '10500', '10600', '10700']
법정동지번코드 11 [None, 1, '1', '1.0', '2', '3', '5', '6', '7', '8']
아파트 12424 ['(1101-1)', '(160-16)', '(18-1)', '(207-3)', '(370-2)', '(517-2)', '(543-18)', '(61-21)', '(685-103)', '(710-8)']
월 9 [1, 2, 3, 4, 5, 9, 10, 11, 12]
일 31 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
일련번호 14850 ['11110-102', '11110-107', '11110-116', '11110-117', '11110-123', '11110-124', '11110-127', '11110-16', '11110-210', '11110-2155']
전용면적 14508 [12.25, 14.25, 14.49, 14.96, 40.49, 62.38, 67.73, 84.3415, 84.53, 84.87]
중개사소재지 1207 [None, nan, '강원 강릉시', '강원 강릉시, 강원 동해시', '강원 강릉시, 강원 속초시', '강원 강릉시, 강원 원주시', '강원 강릉시, 서울 양천구', '강원 고성군, 강원 속초시', '강원 동해시', '강원 동해시, 강원 삼척시']
지번 7909 [None, '1', '1-1', '1-10', '1-106', '1-114', '1-12', '1-13', '1-17', '1-187']
지역코드 113 [11620, '11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350', '11380']
층 68 [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
해제사유발생일 221 [nan, '22.09.13', '22.09.15', '22.09.19', '22.09.26', '22.10.04', '22.10.05', '22.10.06', '22.10.07', '22.10.08']
해제여부 3 [None, nan, 'O']

In [11]:
reload_all()
df = datamodels.AptTradeRealContract().view()
df

2023-06-03 10:35:19,416 | INFO | [57476/MainProcess][110616/MainThread] | govdatascience.openapi.apikey

{'필터': {'지역1': '서울특별시', '지역2': {'$regex': '노원'}, '거래유형': '직거래'}}
{'DataLen': 67}
{'FrameLen': 67}
              거래금액  거래유형  건축년도  년  도로명  법정동  월  일  일련번호  전용면적  중개사소재지  지번  층
아파트
상계주공6(고층)        5     5     5  5    5    5  5  5     5     5       0   5  5  \
상계주공4(고층)        3     3     3  3    3    3  3  3     3     3       0   3  3
상계주공11(고층)       3     3     3  3    3    3  3  3     3     3       0   3  3
장미(시영6)          3     3     3  3    3    3  3  3     3     3       0   3  3
한진한화그랑빌          3     3     3  3    3    3  3  3     3     3       0   3  3
은빛1단지            3     3     3  3    3    3  3  3     3     3       0   3  3
상계주공16(고층)       2     2     2  2    2    2  2  2     2     2       0   2  2
상계주공7(고층)        2     2     2  2    2    2  2  2     2     2       0   2  2
보람2단지            2     2     2  2    2    2  2  2     2     2       0   2  2
코오롱              1     1     1  1    1    1  1  1     1     1       0   1  1
청백4              1     1     1  1    1    1  1  1     1     1       0   1  1
청솔(시영7)          1     1     1  1    1    1  1  1     1     1       0   1  1
중앙하이츠아쿠아         1     1     1  1    1    1  1  1     1     1       0   1  1
초안1              1     1     1  1    1    1  1  1     1     1       0   1  1
초안2              1     1     1  1    1    1  1  1     1     1       0   1  1
중계스타클래스          1     1     1  1    1    1  1  1     1     1       0   1  1
청백3              1     1     1  1    1    1  1  1     1     1       0   1  1
LIG건영            1     1     1  1    1    1  1  1     1     1       0   1  1
탑스빌아파트           1     1     1  1    1    1  1  1     1     1       0   1  1
주공7              1     1     1  1    1    1  1  1     1     1       0   1  1
태강아파트(아이파크)      1     1     1  1    1    1  1  1     1     1       0   1  1
테라파크뷰            1     1     1  1    1    1  1  1     1     1       0   1  1
포레나노원            1     1     1  1    1    1  1  1     1     1       0   1  1
한신1              1     1     1  1    1    1  1  1     1     1       0   1  1
한신4차             1     1     1  1    1    1  1  1     1     1       0   1  1
현대               1     1     1  1    1    1  1  1     1     1       0   1  1
현대(3차)           1     1     1  1    1    1  1  1     1     1       0   1  1
현대(6차)           1     1     1  1    1    1  1  1     1     1       0   1  1
중계그린1단지          1     1     1  1    1    1  1  1     1     1       0   1  1
은빛2단지            1     1     1  1    1    1  1  1     1     1       0   1  1
주공6              1     1     1  1    1    1  1  1     1     1       0   1  1
주공5              1     1     1  1    1    1  1  1     1     1       0   1  1
극동               1     1     1  1    1    1  1  1     1     1       0   1  1
극동늘푸른            1     1     1  1    1    1  1  1     1     1       0   1  1
노원IPARK          1     1     1  1    1    1  1  1     1     1       0   1  1
동신               1     1     1  1    1    1  1  1     1     1       0   1  1
보람1단지            1     1     1  1    1    1  1  1     1     1       0   1  1
삼호4              1     1     1  1    1    1  1  1     1     1       0   1  1
상계주공10(고층)       1     1     1  1    1    1  1  1     1     1       0   1  1
상계주공14(고층)       1     1     1  1    1    1  1  1     1     1       0   1  1
상계주공2(고층)        1     1     1  1    1    1  1  1     1     1       0   1  1
상아               1     1     1  1    1    1  1  1     1     1       0   1  1
성북역신도브래뉴         1     1     1  1    1    1  1  1     1     1       0   1  1
소담빌              1     1     1  1    1    1  1  1     1     1       0   1  1
수락파크빌            1     1     1  1    1    1  1  1     1     1       0   1  1
시영3차(라이프)아파트     1     1     1  1    1    1  1  1     1     1       0   1  1
우성               1     1     1  1    1    1  1  1     1     1       0   1  1
월계센트럴아이파크        1     1     1  1    1    1  1  1     1     1       0   1  1
공릉2신도브래뉴아파트      1     1     1  1    1    1  1  1     1     1       0   1  1
현대1(4차)          1     1     1  1    1    1  1  1     1     1       0   1  1

              계약연월  지역1  지역2  계약일자
아파트
상계주공6(고층)        5    5    5     5
상계주공4(고층)        3    3    3     3
상계주공11(고층)       3    3    3     3
장미(시영6)          3    3    3     3
한진한화그랑빌          3    3    3     3
은빛1단지            3    3    3     3
상계주공16(고층)       2    2    2     2
상계주공7(고층)        2    2    2     2
보람2단지            2    2    2     2
코오롱              1    1    1     1
청백4              1    1    1     1
청솔(시영7)          1    1    1     1
중앙하이츠아쿠아         1    1    1     1
초안1              1    1    1     1
초안2              1    1    1     1
중계스타클래스          1    1    1     1
청백3              1    1    1     1
LIG건영            1    1    1     1
탑스빌아파트           1    1    1     1
주공7              1    1    1     1
태강아파트(아이파크)      1    1    1     1
테라파크뷰            1    1    1     1
포레나노원            1    1    1     1
한신1              1    1    1     1
한신4차             1    1    1     1
현대               1    1    1     1
현대(3차)           1    1    1     1
현대(6차)           1    1    1     1
중계그린1단지          1    1    1     1
은빛2단지            1    1    1     1
주공6              1    1    1     1
주공5              1    1    1     1
극동               1    1    1     1
극동늘푸른            1    1    1     1
노원IPARK          1    1    1     1
동신               1    1    1     1
보람1단지            1    1    1     1
삼호4              1    1    1     1
상계주공10(고층)       1    1    1     1
상계주공14(고층)       1    1    1     1
상계주공2(고층)        1    1    1     1
상아               1    1    1     1
성북역신도브래뉴         1    1    1     1
소담빌              1    1    1     1
수락파크빌            1    1    1     1
시영3차(라이프)아파트     1    1    1     1
우성               1    1    1     1
월계센트럴아이파크        1    1    1     1
공릉2신도브래뉴아파트      1    1    1     1
현대1(4차)          1    1    1     1

,거래금액,거래유형,건축년도,년,도로명,법정동,아파트,월,일,일련번호,전용면적,중개사소재지,지번,층,계약연월,지역1,지역2,계약일자
0,50000,직거래,1988,2023,동일로,상계동,상계주공7(고층),5,26,11350-41,45.55,None,691,11,202305,서울특별시,노원구,2023-05-26 00:00:00+09:00
1,29700,직거래,2000,2023,동일로246길,상계동,극동늘푸른,5,19,11350-1,59.958,None,1128,5,202305,서울특별시,노원구,2023-05-19 00:00:00+09:00
2,42000,직거래,1988,2023,한글비석로,상계동,보람2단지,5,17,11350-11,79.25,None,639,5,202305,서울특별시,노원구,2023-05-17 00:00:00+09:00
3,38300,직거래,1988,2023,노해로,상계동,상계주공6(고층),5,17,11350-40,41.3,None,720,4,202305,서울특별시,노원구,2023-05-17 00:00:00+09:00
4,62150,직거래,2005,2023,한글비석로14길,중계동,중계스타클래스,5,16,11350-430,84.801,None,599,3,202305,서울특별시,노원구,2023-05-16 00:00:00+09:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,12000,직거래,2014,2022,노해로85길,상계동,소담빌,10,24,11350-2053,14.65,None,330-29,9,202210,서울특별시,노원구,2022-10-24 00:00:00+09:00
63,95000,직거래,1992,2022,중계로,중계동,현대(3차),10,20,11350-126,84.35,None,576,2,202210,서울특별시,노원구,2022-10-20 00:00:00+09:00
64,50000,직거래,1988,2022,동일로214길,상계동,상계주공4(고층),10,6,11350-38,32.39,None,749-5,10,202210,서울특별시,노원구,2022-10-06 00:00:00+09:00
65,80000,직거래,1997,2022,노원로26가길,상계동,코오롱,9,28,11350-45,84.9,None,1281,15,202209,서울특별시,노원구,2022-09-28 00:00:00+09:00
66,50000,직거래,1990,2022,동일로207길,중계동,중계그린1단지,9,20,11350-120,49.5,None,502-1,2,202209,서울특별시,노원구,2022-09-20 00:00:00+09:00

In [ ]:
# reload_all()
# df = datamodels.AptRent().view()
# df

In [ ]:
reload_all()
# df = datamodels.LocationCode().view()
# df
datamodels.LocationCode().select({'법정동명': {'$regex': '강남구'}}, type='dict')

In [ ]:
reload_all()
# datamodels.CHECKLIST_RealEstate().build_ReqPool('서울')
# datamodels.CHECKLIST_RealEstate().target_tradeMonths('11110', 'getRTMSDataSvcAptTradeDev')
# datamodels.CHECKLIST_RealEstate().target_ReqPool('getRTMSDataSvcAptRent')

# datamodels.CHECKLIST_RealEstate().view()

In [ ]:
# reload_all()
# datamodels.CHECKLIST_AptTradeRealContract().view()

In [ ]:
# reload_all()
# datamodels.CHECKLIST_AptRent().view()

In [ ]:
reload_all()
# datamodels.CHECKLIST_VillaTradeRealContract().__create__()
# datamodels.CHECKLIST_VillaTradeRealContract().view()

In [ ]:
reload_all()
# datamodels.CHECKLIST_VillaRent().view()

In [ ]:
print(list(df.columns))

In [ ]:
reload_all()
df = datamodels.AptTradeRealContract().view()
df

In [ ]:
df.info()