In [1]:
from _jupyterEnv import *

2023-06-13 08:24:19,231 | INFO | [69764/MainProcess][73604/MainThread] | idebug.set_viewEnvType[159] | <ipylib.idebug.Debugger object at 0x00000228AF1A2400> | 1 (1: print | 2: logger | 3: jupyter)

C:\Python39
C:\Python39\DLLs
C:\Python39\lib
C:\Python39\python39.zip
C:\pypjts\GovDataScience\src
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\Pythonwin
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\win32
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\win32\lib
c:\pypjts\GovDataScience\jupyter
LogLevel: 10 (DEBUG) c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\ipylib\idebug.py

In [2]:
reload_all()
df = datamodels.LocationCode().view()
df

{'CodesLen': 277}
{'DataLen': 75}
{'FrameLen': 1}

        법정동코드      법정동명 폐지여부   지역코드
0  1114000000  서울특별시 중구   존재  11140

In [3]:
reload_all()
datamodels.CHECKLIST_RealEstate().inspect()

법정동명 122 ['강원도 강릉시', '강원도 동해시', '강원도 삼척시', '강원도 속초시', '강원도 원주시', '강원도 춘천시', '강원도 태백시', '경기도 고양시', '경기도 과천시', '경기도 광명시']
지역코드 122 ['11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350', '11380', '11410']
dataName 4 ['getRTMSDataSvcAptRent', 'getRTMSDataSvcAptTradeDev', 'getRTMSDataSvcRHRent', 'getRTMSDataSvcRHTrade']
totalCount 1252 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
계약연월 401 ['199001', '199002', '199003', '199004', '199005', '199006', '199007', '199008', '199009', '199010']
numOfRows 2 [10, 1000]
pageNo 1 [1]
resultCode 1 ['00']
resultMsg 1 ['NORMAL SERVICE.']

In [7]:
# db.CHECKLIST_RealEstate.rename('CHECKLIST_RealEstate_BK')

{'ok': 1.0}

In [62]:
reload_all()
datamodels.CHECKLIST_RealEstate().view()

{'필터': {'dataName': 'getRTMSDataSvcAptRent', 'totalCount': {'$gt': 0}}}
{'DataLen': 150}
{'FrameLen': 150}

,dataName,계약연월,지역코드,numOfRows,pageNo,resultCode,resultMsg,totalCount
0,getRTMSDataSvcAptRent,202306,11680,10,1,00,NORMAL SERVICE.,399
1,getRTMSDataSvcAptRent,202305,11680,10,1,00,NORMAL SERVICE.,1499
2,getRTMSDataSvcAptRent,202304,11680,10,1,00,NORMAL SERVICE.,1954
3,getRTMSDataSvcAptRent,202303,11680,10,1,00,NORMAL SERVICE.,2757
4,getRTMSDataSvcAptRent,202302,11680,10,1,00,NORMAL SERVICE.,2701
...,...,...,...,...,...,...,...,...
145,getRTMSDataSvcAptRent,201105,11680,10,1,00,NORMAL SERVICE.,1224
146,getRTMSDataSvcAptRent,201104,11680,10,1,00,NORMAL SERVICE.,1272
147,getRTMSDataSvcAptRent,201103,11680,10,1,00,NORMAL SERVICE.,1524
148,getRTMSDataSvcAptRent,201102,11680,10,1,00,NORMAL SERVICE.,1575
149,getRTMSDataSvcAptRent,201101,11680,10,1,00,NORMAL SERVICE.,1632

In [63]:
reload_all()
datamodels.CHECKLIST_RealEstate().target_ReqPool('getRTMSDataSvcAptTradeDev')

{'PoolLen': 402}
{'필터': {'dataName': 'getRTMSDataSvcAptTradeDev'}}
{'DataLen': 274}
{'CollectedLen': 274}
{'PoolLen': 128}

[('11680', '200008'),
 ('11680', '200007'),
 ('11680', '200006'),
 ('11680', '200005'),
 ('11680', '200004'),
 ('11680', '200003'),
 ('11680', '200002'),
 ('11680', '200001'),
 ('11680', '199912'),
 ('11680', '199911'),
 ('11680', '199910'),
 ('11680', '199909'),
 ('11680', '199908'),
 ('11680', '199907'),
 ('11680', '199906'),
 ('11680', '199905'),
 ('11680', '199904'),
 ('11680', '199903'),
 ('11680', '199902'),
 ('11680', '199901'),
 ('11680', '199812'),
 ('11680', '199811'),
 ('11680', '199810'),
 ('11680', '199809'),
 ('11680', '199808'),
 ('11680', '199807'),
 ('11680', '199806'),
 ('11680', '199805'),
 ('11680', '199804'),
 ('11680', '199803'),
 ('11680', '199802'),
 ('11680', '199801'),
 ('11680', '199712'),
 ('11680', '199711'),
 ('11680', '199710'),
 ('11680', '199709'),
 ('11680', '199708'),
 ('11680', '199707'),
 ('11680', '199706'),
 ('11680', '199705'),
 ('11680', '199704'),
 ('11680', '199703'),
 ('11680', '199702'),
 ('11680', '199701'),
 ('11680', '199612'),
 ('11680', '199611'),
 ('11680', '199610'),
 ('11680', '199609'),
 ('11680', '199608'),
 ('11680', '199607'),
 ('11680', '199606'),
 ('11680', '199605'),
 ('11680', '199604'),
 ('11680', '199603'),
 ('11680', '199602'),
 ('11680', '199601'),
 ('11680', '199512'),
 ('11680', '199511'),
 ('11680', '199510'),
 ('11680', '199509'),
 ('11680', '199508'),
 ('11680', '199507'),
 ('11680', '199506'),
 ('11680', '199505'),
 ('11680', '199504'),
 ('11680', '199503'),
 ('11680', '199502'),
 ('11680', '199501'),
 ('11680', '199412'),
 ('11680', '199411'),
 ('11680', '199410'),
 ('11680', '199409'),
 ('11680', '199408'),
 ('11680', '199407'),
 ('11680', '199406'),
 ('11680', '199405'),
 ('11680', '199404'),
 ('11680', '199403'),
 ('11680', '199402'),
 ('11680', '199401'),
 ('11680', '199312'),
 ('11680', '199311'),
 ('11680', '199310'),
 ('11680', '199309'),
 ('11680', '199308'),
 ('11680', '199307'),
 ('11680', '199306'),
 ('11680', '199305'),
 ('11680', '199304'),
 ('11680', '199303'),
 ('11680', '199302'),
 ('11680', '199301'),
 ('11680', '199212'),
 ('11680', '199211'),
 ('11680', '199210'),
 ('11680', '199209'),
 ('11680', '199208'),
 ('11680', '199207'),
 ('11680', '199206'),
 ('11680', '199205'),
 ('11680', '199204'),
 ('11680', '199203'),
 ('11680', '199202'),
 ('11680', '199201'),
 ('11680', '199112'),
 ('11680', '199111'),
 ('11680', '199110'),
 ('11680', '199109'),
 ('11680', '199108'),
 ('11680', '199107'),
 ('11680', '199106'),
 ('11680', '199105'),
 ('11680', '199104'),
 ('11680', '199103'),
 ('11680', '199102'),
 ('11680', '199101'),
 ('11680', '199012'),
 ('11680', '199011'),
 ('11680', '199010'),
 ('11680', '199009'),
 ('11680', '199008'),
 ('11680', '199007'),
 ('11680', '199006'),
 ('11680', '199005'),
 ('11680', '199004'),
 ('11680', '199003'),
 ('11680', '199002'),
 ('11680', '199001')]

In [3]:
reload_all()
# schmodels.RealState().__create__()
schmodels.RealState().view()

   seq      column dtype role           desc     unit
0    _     해제사유발생일  date    _              _        _
1    _        거래금액   int    _         단위: 만원  10000.0
2    _        건축년도   int    _              _        _
3    _           년   int    _              _        _
4    _           월   int    _              _        _
5    _           일   int    _              _        _
6    _           층   int    _              _        _
7    _        거래유형   str    _              _        _
8    _        검색연월   str    _  OpenAPI함수 입력값        _
9    _         도로명   str    _              _        _
10   _  도로명건물본번호코드   str    _              _        _
11   _  도로명건물부번호코드   str    _              _        _
12   _    도로명시군구코드   str    _              _        _
13   _   도로명일련번호코드   str    _              _        _
14   _   도로명지상지하코드   str    _              _        _
15   _       도로명코드   str    _              _        _
16   _         법정동   str    _              _        _
17   _     법정동본번코드   str    _              _        _
18   _     법정동부번코드   str    _              _        _
19   _    법정동시군구코드   str    _              _        _
20   _    법정동읍면동코드   str    _              _        _
21   _     법정동지번코드   str    _              _        _
22   _         아파트   str    _              _        _
23   _        일련번호   str    _              _        _
24   _        전용면적   str    _              _        _
25   _      중개사소재지   str    _              _        _
26   _          지번   str    _              _        _
27   _        지역코드   str    _  OpenAPI함수 입력값        _
28   _        해제여부   str    _              _        _

In [115]:
reload_all()
datamodels.AptTradeRealContract().inspect()

거래금액 3237 [650, 750, 900, 950, 1000, 1050, 1100, 1120, 1200, 1250]
거래유형 2 ['중개거래', '직거래']
건축년도 60 [None, 1962, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973]
검색연월 0 []
년 2 [2022, 2023]
도로명 7575 [None, '10용사로', '1공단로9길', '63로', '가곡13길', '가곡15길', '가곡4길', '가곡5길', '가곡7길', '가곡8길']
도로명건물본번호코드 1240 [None, 7, 12, 14, 16, 29, 38, 60, 76, 86]
도로명건물부번호코드 116 [None, 0, 1, '0', '0.0', '1', '1.0', '10', '10.0', '102']
도로명시군구코드 118 [None, 11620, '11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350']
도로명일련번호코드 24 [0, 1, '0', '1', '10', '11', '12', '13', '14', '15']
도로명지상지하코드 5 [None, nan, 0.0, '0', '0.0']
도로명코드 8088 [None, 2000003, 2005010, 3005083, 3120002, 3120008, 3120009, 4160018, 4160021, 4160023]
법정동 1582 ['가곡동', '가남읍 신해리', '가남읍 심석리', '가남읍 태평리', '가능동', '가락동', '가리봉동', '가사동', '가수동', '가야동']
법정동본번코드 2407 [None, 10, 15, 602, 863, 893, 1000, 1135, 1522, 1574]
법정동부번코드 275 [None, 0, 1, 5, 9, 12, 17, 31, 40, 51]
법정동시군구코드 113 [11620, '11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350', '11380']
법정동읍면동코드 242 [10100, 10200, 10300, '10100', '10200', '10300', '10400', '10500', '10600', '10700']
법정동지번코드 11 [None, 1, '1', '1.0', '2', '3', '5', '6', '7', '8']
아파트 12424 ['(1101-1)', '(160-16)', '(18-1)', '(207-3)', '(370-2)', '(517-2)', '(543-18)', '(61-21)', '(685-103)', '(710-8)']
월 9 [1, 2, 3, 4, 5, 9, 10, 11, 12]
일 31 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
일련번호 14850 ['11110-102', '11110-107', '11110-116', '11110-117', '11110-123', '11110-124', '11110-127', '11110-16', '11110-210', '11110-2155']
전용면적 14508 [12.25, 14.25, 14.49, 14.96, 40.49, 62.38, 67.73, 84.3415, 84.53, 84.87]
중개사소재지 1207 [None, nan, '강원 강릉시', '강원 강릉시, 강원 동해시', '강원 강릉시, 강원 속초시', '강원 강릉시, 강원 원주시', '강원 강릉시, 서울 양천구', '강원 고성군, 강원 속초시', '강원 동해시', '강원 동해시, 강원 삼척시']
지번 7909 [None, '1', '1-1', '1-10', '1-106', '1-114', '1-12', '1-13', '1-17', '1-187']
지역코드 113 [11620, '11110', '11140', '11170', '11230', '11260', '11290', '11320', '11350', '11380']
층 68 [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
해제사유발생일 221 [nan, '22.09.13', '22.09.15', '22.09.19', '22.09.26', '22.10.04', '22.10.05', '22.10.06', '22.10.07', '22.10.08']
해제여부 3 [None, nan, 'O']
계약연월 331 ['199511', '199512', '199601', '199602', '199603', '199604', '199605', '199606', '199607', '199608']
계약일자 267 [datetime.datetime(2022, 8, 31, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 1, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 2, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 3, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 4, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 5, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 6, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 7, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 8, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>), datetime.datetime(2022, 9, 9, 15, 0, tzinfo=<bson.tz_util.FixedOffset object at 0x00000292B6AFD070>)]
지역1 15 ['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시']
지역2 97 [None, '강남구', '강동구', '강릉시', '강서구', '거제시', '경산시', '경주시', '계룡시', '공주시']

In [80]:
reload_all()
df = datamodels.AptTradeRealContract().dedup_data()
df

{'DataLen': 290968}
{'subset': ['거래금액', '거래유형', '건축년도', '년', '도로명', '도로명건물본번호코드', '도로명건물부번호코드', '도로명시군구코드', '도로명일련번호코드', '도로명지상지하코드', '도로명코드', '법정동', '법정동본번코드', '법정동부번코드', '법정동시군구코드', '법정동읍면동코드', '법정동지번코드', '아파트', '월', '일', '일련번호', '전용면적', '중개사소재지', '지번', '지역코드', '층', '해제사유발생일', '해제여부', '계약연월', '지역1', '지역2', '계약일자', 'AptId']}
                            _id    거래금액  거래유형  건축년도     년       도로명
0      6487e79300a8a0bafaaeec8a  215000   직거래  1979  2023       삼성로  \
1      6487e79300a8a0bafaaeec8c  196500  중개거래  1993  2023    광평로19길
2      6487e79300a8a0bafaaeec8b  298000  중개거래  1979  2023      압구정로
3      6487e79300a8a0bafaaeec89  155000   직거래  2005  2023    선릉로69길
4      6487e79400a8a0bafaaeeccc  255000  중개거래  2007  2023   선릉로126길
...                         ...     ...   ...   ...   ...       ...
76274  64863705d537be350b99d870   79750  None  1983  2006      영동대로
76275  64863705d537be350b99d871   80000  None  1983  2006      영동대로
76276  64863705d537be350b99d8f9   19300  None  1997  2006  강남대로146길
76277  64863705d537be350b99d93e   52900  None  1987  2006   개포로110길
76278  64863705d537be350b99d975   23400  None  1992  2006    광평로47길

      도로명건물본번호코드 도로명건물부번호코드 도로명시군구코드 도로명일련번호코드  ...   지번   지역코드   층 해제사유발생일
0            212          0    11680         4  ...  316  11680   1     NaN  \
1             15          0    11680         1  ...  716  11680   4     NaN
2            401          0    11680         3  ...  513  11680  13     NaN
3             19          0    11680         1  ...  757  11680   4     NaN
4             22          0    11680         1  ...   11  11680   3     NaN
...          ...        ...      ...       ...  ...  ...    ...  ..     ...
76274      220.0        0.0  11680.0       4.0  ...   65  11680   6     NaN
76275      220.0        0.0  11680.0       4.0  ...   65  11680  12     NaN
76276       28.0        0.0  11680.0       1.0  ...   22  11680   9     NaN
76277       15.0        0.0  11680.0       1.0  ...  615  11680   2     NaN
76278       17.0        0.0  11680.0       1.0  ...  736  11680   5     NaN

       해제여부    계약연월    지역1  지역2                      계약일자              AptId
0      None  202306  서울특별시  강남구 2023-06-02 15:00:00+00:00    11680-218_84.43
1      None  202306  서울특별시  강남구 2023-06-02 15:00:00+00:00    11680-301_99.79
2      None  202306  서울특별시  강남구 2023-06-01 15:00:00+00:00   11680-382_102.35
3      None  202306  서울특별시  강남구 2023-05-31 15:00:00+00:00    11680-3621_59.4
4      None  202305  서울특별시  강남구 2023-05-30 15:00:00+00:00  11680-3733_101.81
...     ...     ...    ...  ...                       ...                ...
76274  None  200601  서울특별시  강남구 2006-01-01 15:00:00+00:00    11680-214_84.49
76275  None  200601  서울특별시  강남구 2006-01-01 15:00:00+00:00    11680-214_84.49
76276  None  200601  서울특별시  강남구 2006-01-01 15:00:00+00:00    11680-109_35.73
76277  None  200601  서울특별시  강남구 2006-01-01 15:00:00+00:00     11680-306_68.4
76278  None  200601  서울특별시  강남구 2006-01-01 15:00:00+00:00    11680-319_39.53

[76279 rows x 34 columns]
{'NetLen': 76279}
                             _id    거래금액  거래유형  건축년도     년       도로명
2       6487e8dec72dcf41589468ab  215000   직거래  1979  2023       삼성로  \
3       6487e8dec72dcf41589468ad  196500  중개거래  1993  2023    광평로19길
4       64880150cc0a99f961879853  215000   직거래  1979  2023       삼성로
5       64880150cc0a99f961879855  196500  중개거래  1993  2023    광평로19길
7       6487e8dec72dcf41589468ac  298000  중개거래  1979  2023      압구정로
...                          ...     ...   ...   ...   ...       ...
290963  6488025fcc0a99f96188c202   79750  None  1983  2006      영동대로
290964  6488025fcc0a99f96188c203   80000  None  1983  2006      영동대로
290965  6488025fcc0a99f96188c28b   19300  None  1997  2006  강남대로146길
290966  6488025fcc0a99f96188c2d0   52900  None  1987  2006   개포로110길
290967  6488025fcc0a99f96188c307   23400  None  1992  2006    광평로47길

       도로명건물본번호코드 도로명건물부번호코드 도로명시군구코드 도로명일련번호코드  ...   지번   지역코드   층 해제사유발생일
2             212          0    11680         4  ...  316  11680   1     NaN  \
3              15          0    11680         1  ...  716  11680   4     NaN
4             212          0    11680         4  ...  316  11680   1     NaN
5              15          0    11680         1  ...  716  11680   4     NaN
7             401          0    11680         3  ...  513  11680  13     NaN
...           ...        ...      ...       ...  ...  ...    ...  ..     ...
290963      220.0        0.0  11680.0       4.0  ...   65  11680   6     NaN
290964      220.0        0.0  11680.0       4.0  ...   65  11680  12     NaN
290965       28.0        0.0  11680.0       1.0  ...   22  11680   9     NaN
290966       15.0        0.0  11680.0       1.0  ...  615  11680   2     NaN
290967       17.0        0.0  11680.0       1.0  ...  736  11680   5     NaN

        해제여부    계약연월    지역1  지역2                      계약일자             AptId
2       None  202306  서울특별시  강남구 2023-06-02 15:00:00+00:00   11680-218_84.43
3       None  202306  서울특별시  강남구 2023-06-02 15:00:00+00:00   11680-301_99.79
4       None  202306  서울특별시  강남구 2023-06-02 15:00:00+00:00   11680-218_84.43
5       None  202306  서울특별시  강남구 2023-06-02 15:00:00+00:00   11680-301_99.79
7       None  202306  서울특별시  강남구 2023-06-01 15:00:00+00:00  11680-382_102.35
...      ...     ...    ...  ...                       ...               ...
290963  None  200601  서울특별시  강남구 2006-01-01 15:00:00+00:00   11680-214_84.49
290964  None  200601  서울특별시  강남구 2006-01-01 15:00:00+00:00   11680-214_84.49
290965  None  200601  서울특별시  강남구 2006-01-01 15:00:00+00:00   11680-109_35.73
290966  None  200601  서울특별시  강남구 2006-01-01 15:00:00+00:00    11680-306_68.4
290967  None  200601  서울특별시  강남구 2006-01-01 15:00:00+00:00   11680-319_39.53

[214689 rows x 34 columns]
{'DupLen': 214689}

,_id,거래금액,거래유형,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,...,지번,지역코드,층,해제사유발생일,해제여부,계약연월,지역1,지역2,계약일자,AptId
2,6487e8dec72dcf41589468ab,215000,직거래,1979,2023,삼성로,212,0,11680,4,...,316,11680,1,NaN,None,202306,서울특별시,강남구,2023-06-02 15:00:00+00:00,11680-218_84.43
3,6487e8dec72dcf41589468ad,196500,중개거래,1993,2023,광평로19길,15,0,11680,1,...,716,11680,4,NaN,None,202306,서울특별시,강남구,2023-06-02 15:00:00+00:00,11680-301_99.79
4,64880150cc0a99f961879853,215000,직거래,1979,2023,삼성로,212,0,11680,4,...,316,11680,1,NaN,None,202306,서울특별시,강남구,2023-06-02 15:00:00+00:00,11680-218_84.43
5,64880150cc0a99f961879855,196500,중개거래,1993,2023,광평로19길,15,0,11680,1,...,716,11680,4,NaN,None,202306,서울특별시,강남구,2023-06-02 15:00:00+00:00,11680-301_99.79
7,6487e8dec72dcf41589468ac,298000,중개거래,1979,2023,압구정로,401,0,11680,3,...,513,11680,13,NaN,None,202306,서울특별시,강남구,2023-06-01 15:00:00+00:00,11680-382_102.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290963,6488025fcc0a99f96188c202,79750,None,1983,2006,영동대로,220.0,0.0,11680.0,4.0,...,65,11680,6,NaN,None,200601,서울특별시,강남구,2006-01-01 15:00:00+00:00,11680-214_84.49
290964,6488025fcc0a99f96188c203,80000,None,1983,2006,영동대로,220.0,0.0,11680.0,4.0,...,65,11680,12,NaN,None,200601,서울특별시,강남구,2006-01-01 15:00:00+00:00,11680-214_84.49
290965,6488025fcc0a99f96188c28b,19300,None,1997,2006,강남대로146길,28.0,0.0,11680.0,1.0,...,22,11680,9,NaN,None,200601,서울특별시,강남구,2006-01-01 15:00:00+00:00,11680-109_35.73
290966,6488025fcc0a99f96188c2d0,52900,None,1987,2006,개포로110길,15.0,0.0,11680.0,1.0,...,615,11680,2,NaN,None,200601,서울특별시,강남구,2006-01-01 15:00:00+00:00,11680-306_68.4
290967,6488025fcc0a99f96188c307,23400,None,1992,2006,광평로47길,17.0,0.0,11680.0,1.0,...,736,11680,5,NaN,None,200601,서울특별시,강남구,2006-01-01 15:00:00+00:00,11680-319_39.53

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260685 entries, 2 to 290967
Data columns (total 34 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   _id         260685 non-null  object
 1   거래금액        260685 non-null  int64
 2   거래유형        6291 non-null    object
 3   건축년도        260685 non-null  int64
 4   년           260685 non-null  int64
 5   도로명         259842 non-null  object
 6   도로명건물본번호코드  257490 non-null  object
 7   도로명건물부번호코드  257490 non-null  object
 8   도로명시군구코드    259853 non-null  object
 9   도로명일련번호코드   259824 non-null  object
 10  도로명지상지하코드   251070 non-null  object
 11  도로명코드       259853 non-null  object
 12  법정동         260685 non-null  object
 13  법정동본번코드     260685 non-null  object
 14  법정동부번코드     260685 non-null  object
 15  법정동시군구코드    260685 non-null  object
 16  법정동읍면동코드    260685 non-null  object
 17  법정동지번코드     260685 non-null  object
 18  아파트         260685 non-null  object
 19  월           260685 non-null  int64
 20  일           260685 non-null  int64
 21  일련번호        260685 non-null  object
 22  전용면적        260685 non-null  object
 23  중개사소재지      5891 non-null    object
 24  지번          260685 non-null  object
 25  지역코드        260685 non-null  object
 26  층           260685 non-null  int64
 27  해제사유발생일     1101 non-null    object
 28  해제여부        1101 non-null    object
 29  계약연월        260685 non-null  object
 30  지역1         426 non-null     object
 31  지역2         426 non-null     object
 32  계약일자        426 non-null     datetime64[ns, <bson.tz_util.FixedOffset object at 0x00000228FEB3B0A0>]
 33  AptId       426 non-null     object
dtypes: datetime64[ns, <bson.tz_util.FixedOffset object at 0x00000228FEB3B0A0>](1), int64(6), object(27)
memory usage: 69.6+ MB

In [70]:
df.loc[: , ['년','월','일','일련번호','지역코드']]

           년  월  일       일련번호   지역코드
2       2023  6  3  11680-218  11680
3       2023  6  3  11680-301  11680
4       2023  6  3  11680-218  11680
5       2023  6  3  11680-301  11680
7       2023  6  2  11680-382  11680
...      ... .. ..        ...    ...
290963  2006  1  2  11680-214  11680
290964  2006  1  2  11680-214  11680
290965  2006  1  2  11680-109  11680
290966  2006  1  2  11680-306  11680
290967  2006  1  2  11680-319  11680

[260685 rows x 5 columns]

In [78]:
reload_all()
datamodels.AptTradeRealContract().view()

                          _id       법정동코드        법정동명 폐지여부   지역코드
0    64702c703e7146d1ad149ea8  1111000000   서울특별시 종로구   존재  11110
1    64702c703e7146d1ad149f05  1114000000    서울특별시 중구   존재  11140
2    64702c703e7146d1ad149f5a  1117000000   서울특별시 용산구   존재  11170
3    64702c703e7146d1ad149ffd  1123000000  서울특별시 동대문구   존재  11230
4    64702c703e7146d1ad14a036  1126000000   서울특별시 중랑구   존재  11260
..                        ...         ...         ...  ...    ...
189  64702c703e7146d1ad154e7b  4885000000    경상남도 하동군   존재  48850
190  64702c703e7146d1ad154f00  4886000000    경상남도 산청군   존재  48860
191  64702c703e7146d1ad154f9b  4887000000    경상남도 함양군   존재  48870
192  64702c703e7146d1ad155013  4888000000    경상남도 거창군   존재  48880
193  64702c703e7146d1ad155085  4889000000    경상남도 합천군   존재  48890

[194 rows x 5 columns]
업데이트중... ['11110', '서울특별시', '종로구']
업데이트중... ['11140', '서울특별시', '중구']
업데이트중... ['11170', '서울특별시', '용산구']
업데이트중... ['11230', '서울특별시', '동대문구']
업데이트중... ['11260', '서울특별시', '중랑구']
업데이트중... ['11290', '서울특별시', '성북구']
업데이트중... ['11320', '서울특별시', '도봉구']
업데이트중... ['11350', '서울특별시', '노원구']
업데이트중... ['11380', '서울특별시', '은평구']
업데이트중... ['11410', '서울특별시', '서대문구']
업데이트중... ['11440', '서울특별시', '마포구']
업데이트중... ['11470', '서울특별시', '양천구']
업데이트중... ['11530', '서울특별시', '구로구']
업데이트중... ['11560', '서울특별시', '영등포구']
업데이트중... ['11590', '서울특별시', '동작구']
업데이트중... ['11620', '서울특별시', '관악구']
업데이트중... ['11650', '서울특별시', '서초구']
업데이트중... ['11680', '서울특별시', '강남구']
업데이트중... ['11710', '서울특별시', '송파구']
업데이트중... ['11740', '서울특별시', '강동구']
업데이트중... ['26110', '부산광역시', '중구']
업데이트중... ['26140', '부산광역시', '서구']
업데이트중... ['26170', '부산광역시', '동구']
업데이트중... ['26230', '부산광역시', '부산진구']
업데이트중... ['26260', '부산광역시', '동래구']
업데이트중... ['26290', '부산광역시', '남구']
업데이트중... ['26320', '부산광역시', '북구']
업데이트중... ['26350', '부산광역시', '해운대구']
업데이트중... ['26380', '부산광역시', '사하구']
업데이트중... ['26410', '부산광역시', '금정구']
업데이트중... ['26440', '부산광역시', '강서구']
업데이트중... ['26470', '부산광역시', '연제구']
업데이트중... ['26530', '부산광역시', '사상구']
업데이트중... ['26710', '부산광역시', '기장군']
업데이트중... ['27110', '대구광역시', '중구']
업데이트중... ['27140', '대구광역시', '동구']
업데이트중... ['27170', '대구광역시', '서구']
업데이트중... ['27230', '대구광역시', '북구']
업데이트중... ['27260', '대구광역시', '수성구']
업데이트중... ['27290', '대구광역시', '달서구']
업데이트중... ['27710', '대구광역시', '달성군']
업데이트중... ['28110', '인천광역시', '중구']
업데이트중... ['28140', '인천광역시', '동구']
업데이트중... ['28260', '인천광역시', '서구']
업데이트중... ['28710', '인천광역시', '강화군']
업데이트중... ['28720', '인천광역시', '옹진군']
업데이트중... ['29110', '광주광역시', '동구']
업데이트중... ['29140', '광주광역시', '서구']
업데이트중... ['29170', '광주광역시', '북구']
업데이트중... ['31110', '울산광역시', '중구']
업데이트중... ['31140', '울산광역시', '남구']
업데이트중... ['31170', '울산광역시', '동구']
업데이트중... ['31710', '울산광역시', '울주군']
{'_id': ObjectId('64702c703e7146d1ad14af83'), '법정동코드': '3611000000', '법정동명': '세종특별자치시', '폐지여부': '존재', '지역코드': '36110'}
업데이트중... ['36110', '세종특별자치시', None]
업데이트중... ['41110', '경기도', '수원시']
업데이트중... ['41130', '경기도', '성남시']
업데이트중... ['41150', '경기도', '의정부시']
업데이트중... ['41170', '경기도', '안양시']
업데이트중... ['41190', '경기도', '부천시']
업데이트중... ['41210', '경기도', '광명시']
업데이트중... ['41220', '경기도', '평택시']
업데이트중... ['41250', '경기도', '동두천시']
업데이트중... ['41270', '경기도', '안산시']
업데이트중... ['41280', '경기도', '고양시']
업데이트중... ['41290', '경기도', '과천시']
업데이트중... ['41310', '경기도', '구리시']
업데이트중... ['41360', '경기도', '남양주시']
업데이트중... ['41370', '경기도', '오산시']
업데이트중... ['41390', '경기도', '시흥시']
업데이트중... ['41410', '경기도', '군포시']
업데이트중... ['41430', '경기도', '의왕시']
업데이트중... ['41450', '경기도', '하남시']
업데이트중... ['41460', '경기도', '용인시']
업데이트중... ['41480', '경기도', '파주시']
업데이트중... ['41550', '경기도', '안성시']
업데이트중... ['41570', '경기도', '김포시']
업데이트중... ['41590', '경기도', '화성시']
업데이트중... ['41610', '경기도', '광주시']
업데이트중... ['41630', '경기도', '양주시']
업데이트중... ['41650', '경기도', '포천시']
업데이트중... ['41670', '경기도', '여주시']
업데이트중... ['41820', '경기도', '가평군']
업데이트중... ['41830', '경기도', '양평군']
업데이트중... ['42110', '강원도', '춘천시']
업데이트중... ['42130', '강원도', '원주시']
업데이트중... ['42150', '강원도', '강릉시']
업데이트중... ['42170', '강원도', '동해시']
업데이트중... ['42190', '강원도', '태백시']
업데이트중... ['42210', '강원도', '속초시']
업데이트중... ['42230', '강원도', '삼척시']
업데이트중... ['42720', '강원도', '홍천군']
업데이트중... ['42730', '강원도', '횡성군']
업데이트중... ['42750', '강원도', '영월군']
업데이트중... ['42760', '강원도', '평창군']
업데이트중... ['42770', '강원도', '정선군']
업데이트중... ['42780', '강원도', '철원군']
업데이트중... ['42790', '강원도', '화천군']
업데이트중... ['42810', '강원도', '인제군']
업데이트중... ['42820', '강원도', '고성군']
업데이트중... ['42830', '강원도', '양양군']
업데이트중... ['43110', '충청북도', '청주시']
업데이트중... ['43130', '충청북도', '충주시']
업데이트중... ['43150', '충청북도', '제천시']
업데이트중... ['43720', '충청북도', '보은군']
업데이트중... ['43730', '충청북도', '옥천군']
업데이트중... ['43740', '충청북도', '영동군']
업데이트중... ['43750', '충청북도', '진천군']
업데이트중... ['43760', '충청북도', '괴산군']
업데이트중... ['43770', '충청북도', '음성군']
업데이트중... ['44130', '충청남도', '천안시']
업데이트중... ['44150', '충청남도', '공주시']
업데이트중... ['44180', '충청남도', '보령시']
업데이트중... ['44210', '충청남도', '서산시']
업데이트중... ['44230', '충청남도', '논산시']
업데이트중... ['44250', '충청남도', '계룡시']
업데이트중... ['44270', '충청남도', '당진시']
업데이트중... ['44710', '충청남도', '금산군']
업데이트중... ['44760', '충청남도', '부여군']
업데이트중... ['44770', '충청남도', '서천군']
업데이트중... ['44790', '충청남도', '청양군']
업데이트중... ['44810', '충청남도', '예산군']
업데이트중... ['45110', '전라북도', '전주시']
업데이트중... ['45130', '전라북도', '군산시']
업데이트중... ['45140', '전라북도', '익산시']
업데이트중... ['45180', '전라북도', '정읍시']
업데이트중... ['45190', '전라북도', '남원시']
업데이트중... ['45210', '전라북도', '김제시']
업데이트중... ['45710', '전라북도', '완주군']
업데이트중... ['45720', '전라북도', '진안군']
업데이트중... ['45730', '전라북도', '무주군']
업데이트중... ['45740', '전라북도', '장수군']
업데이트중... ['45750', '전라북도', '임실군']
업데이트중... ['45770', '전라북도', '순창군']
업데이트중... ['45790', '전라북도', '고창군']
업데이트중... ['46110', '전라남도', '목포시']
업데이트중... ['46130', '전라남도', '여수시']
업데이트중... ['46150', '전라남도', '순천시']
업데이트중... ['46170', '전라남도', '나주시']
업데이트중... ['46230', '전라남도', '광양시']
업데이트중... ['46710', '전라남도', '담양군']
업데이트중... ['46720', '전라남도', '곡성군']
업데이트중... ['46730', '전라남도', '구례군']
업데이트중... ['46770', '전라남도', '고흥군']
업데이트중... ['46780', '전라남도', '보성군']
업데이트중... ['46790', '전라남도', '화순군']
업데이트중... ['46810', '전라남도', '강진군']
업데이트중... ['46820', '전라남도', '해남군']
업데이트중... ['46830', '전라남도', '영암군']
업데이트중... ['46840', '전라남도', '무안군']
업데이트중... ['46860', '전라남도', '함평군']
업데이트중... ['46870', '전라남도', '영광군']
업데이트중... ['46880', '전라남도', '장성군']
업데이트중... ['46890', '전라남도', '완도군']
업데이트중... ['46910', '전라남도', '신안군']
업데이트중... ['47110', '경상북도', '포항시']
업데이트중... ['47130', '경상북도', '경주시']
업데이트중... ['47150', '경상북도', '김천시']
업데이트중... ['47170', '경상북도', '안동시']
업데이트중... ['47190', '경상북도', '구미시']
업데이트중... ['47210', '경상북도', '영주시']
업데이트중... ['47230', '경상북도', '영천시']
업데이트중... ['47250', '경상북도', '상주시']
업데이트중... ['47280', '경상북도', '문경시']
업데이트중... ['47290', '경상북도', '경산시']
업데이트중... ['47720', '경상북도', '군위군']
업데이트중... ['47730', '경상북도', '의성군']
업데이트중... ['47750', '경상북도', '청송군']
업데이트중... ['47760', '경상북도', '영양군']
업데이트중... ['47770', '경상북도', '영덕군']
업데이트중... ['47820', '경상북도', '청도군']
업데이트중... ['47830', '경상북도', '고령군']
업데이트중... ['47840', '경상북도', '성주군']
업데이트중... ['47850', '경상북도', '칠곡군']
업데이트중... ['47920', '경상북도', '봉화군']
업데이트중... ['47930', '경상북도', '울진군']
업데이트중... ['47940', '경상북도', '울릉군']
업데이트중... ['48120', '경상남도', '창원시']
업데이트중... ['48170', '경상남도', '진주시']
업데이트중... ['48220', '경상남도', '통영시']
업데이트중... ['48240', '경상남도', '사천시']
업데이트중... ['48250', '경상남도', '김해시']
업데이트중... ['48270', '경상남도', '밀양시']
업데이트중... ['48310', '경상남도', '거제시']
업데이트중... ['48330', '경상남도', '양산시']
업데이트중... ['48720', '경상남도', '의령군']
업데이트중... ['48730', '경상남도', '함안군']
업데이트중... ['48740', '경상남도', '창녕군']
업데이트중... ['48820', '경상남도', '고성군']
업데이트중... ['48840', '경상남도', '남해군']
업데이트중... ['48850', '경상남도', '하동군']
업데이트중... ['48860', '경상남도', '산청군']
업데이트중... ['48870', '경상남도', '함양군']
업데이트중... ['48880', '경상남도', '거창군']
업데이트중... ['48890', '경상남도', '합천군']

2023-06-13 23:50:15,744 | INFO | [69764/MainProcess][73604/MainThread] | datamodels.assign_newColumns01[409] | 신규컬럼생성01완료
2023-06-13 23:50:15,746 | INFO | [69764/MainProcess][73604/MainThread] | govdatascience.dataengine.datamodels.assign_newColumns02
2023-06-13 23:52:53,279 | INFO | [69764/MainProcess][73604/MainThread] | datamodels.assign_newColumns02[439] | 신규컬럼생성02완료

{'필터': {'지역코드': '11680'}}
{'DataLen': 290968}
{'DataLen': 290968}

KeyError: Index(['지역코드'], dtype='object')

In [106]:
reload_all()
datamodels.AptRent().view()

2023-06-08 00:01:16,824 | INFO | [38892/MainProcess][37356/MainThread] | govdatascience.dataengine.datamodels._manipulate01

{'필터': {'지역1': {'$regex': '서울'}}}
{'DataLen': 135439}
{'DataLen': 135439}
{'FrameLen': 135439}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135439 entries, 0 to 135438
Data columns (total 33 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   거래금액        135439 non-null  int64
 1   거래유형        135439 non-null  object
 2   건축년도        135439 non-null  int64
 3   년           135439 non-null  int64
 4   도로명         135439 non-null  object
 5   도로명건물본번호코드  135439 non-null  object
 6   도로명건물부번호코드  135439 non-null  object
 7   도로명시군구코드    135439 non-null  object
 8   도로명일련번호코드   135439 non-null  object
 9   도로명지상지하코드   127466 non-null  object
 10  도로명코드       135439 non-null  object
 11  법정동         135439 non-null  object
 12  법정동본번코드     135439 non-null  object
 13  법정동부번코드     135439 non-null  object
 14  법정동시군구코드    135439 non-null  object
 15  법정동읍면동코드    135439 non-null  object
 16  법정동지번코드     135439 non-null  object
 17  아파트         135439 non-null  object
 18  월           135439 non-null  int64
 19  일           135439 non-null  int64
 20  일련번호        135439 non-null  object
 21  전용면적        135439 non-null  object
 22  중개사소재지      119499 non-null  object
 23  지번          135439 non-null  object
 24  지역코드        135439 non-null  object
 25  층           135439 non-null  int64
 26  해제사유발생일     0 non-null       float64
 27  해제여부        0 non-null       object
 28  AptId       135439 non-null  object
 29  계약일자        135439 non-null  datetime64[ns, 대한민국 표준시]
 30  지역1         135439 non-null  object
 31  지역2         135439 non-null  object
 32  계약연월        135439 non-null  object
dtypes: datetime64[ns, 대한민국 표준시](1), float64(1), int64(6), object(25)
memory usage: 34.1+ MB
['중구', '관악구']

,거래금액,거래유형,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,...,지번,지역코드,층,해제사유발생일,해제여부,AptId,계약일자,지역1,지역2,계약연월
0,43000,직거래,2018,2023,마른내로,126,1,11140,0,0.0,...,206-34,11140,14,NaN,None,11140-1321_41.38,2023-05-23 00:00:00+09:00,서울특별시,중구,202305
1,43000,직거래,2018,2023,마른내로,126,1,11140,0,0.0,...,206-34,11140,14,NaN,None,11140-1321_41.38,2023-05-23 00:00:00+09:00,서울특별시,중구,202305
2,43000,직거래,2018,2023,마른내로,126,1,11140,0,0.0,...,206-34,11140,14,NaN,None,11140-1321_41.38,2023-05-23 00:00:00+09:00,서울특별시,중구,202305
3,43000,직거래,2018,2023,마른내로,126,1,11140,0,0.0,...,206-34,11140,14,NaN,None,11140-1321_41.38,2023-05-23 00:00:00+09:00,서울특별시,중구,202305
4,43000,직거래,2018,2023,마른내로,126,1,11140,0,0.0,...,206-34,11140,14,NaN,None,11140-1321_41.38,2023-05-23 00:00:00+09:00,서울특별시,중구,202305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135434,35000,중개거래,2014,2022,청림6길,16,0,11620,1,0.0,...,15-5,11620,5,NaN,None,11620-5115_40.49,2022-09-03 00:00:00+09:00,서울특별시,관악구,202102
135435,12700,중개거래,2012,2022,남부순환로220길,29,0,11620,1,0.0,...,863-9,11620,9,NaN,None,11620-4792_14.25,2022-09-03 00:00:00+09:00,서울특별시,관악구,202203
135436,12700,중개거래,2012,2022,남부순환로220길,29,0,11620,1,0.0,...,863-9,11620,9,NaN,None,11620-4792_14.25,2022-09-03 00:00:00+09:00,서울특별시,관악구,202105
135437,35000,중개거래,2014,2022,청림6길,16,0,11620,1,0.0,...,15-5,11620,5,NaN,None,11620-5115_40.49,2022-09-03 00:00:00+09:00,서울특별시,관악구,202105
135438,12700,중개거래,2012,2022,남부순환로220길,29,0,11620,1,0.0,...,863-9,11620,9,NaN,None,11620-4792_14.25,2022-09-03 00:00:00+09:00,서울특별시,관악구,202109

In [ ]:
reload_all()
# ecos.build_StatisticTableList()
datamodels.BOKStatisticTableList().view()