In [1]:
from _jupyterEnv import *

2023-06-21 16:24:54,309 | INFO | [75164/MainProcess][83116/MainThread] | idebug.set_viewEnvType[159] | <ipylib.idebug.Debugger object at 0x000001AC63244B20> | 1 (1: print | 2: logger | 3: jupyter)

C:\Python39
C:\Python39\DLLs
C:\Python39\lib
C:\Python39\python39.zip
C:\pypjts\GovDataScience\src
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\Pythonwin
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\win32
c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\win32\lib
c:\pypjts\GovDataScience\jupyter
LogLevel: 10 (DEBUG) c:\pypjts\GovDataScience\govDataScienceEnv_py39_64bit\lib\site-packages\ipylib\idebug.py

In [8]:
reload_all()
g1, g2 = realestate.AptTrade().analysis01()

{'DataLen': 1283575}

In [9]:
g1

          _id   지역코드
계약연월
199511     17     17
199512     17     17
199601     17     17
199602     17     17
199603     17     17
...       ...    ...
202302  21654  21654
202303  23867  23867
202304  23536  23536
202305  14621  14621
202306    529    529

[332 rows x 2 columns]

In [10]:
g2.sort_values('_id', ascending=False)

          _id    계약연월
지역코드
11350  120080  120080
11710   81965   81965
11680   76279   76279
11500   74266   74266
11740   69938   69938
...       ...     ...
27170     191     191
45210     186     186
11110     136     121
26110      70      70
50130      27       0

[118 rows x 2 columns]